<div class="static_wrapper">
<a name="faq_top"></a>
  <div class="static_title">
    <b style="padding-left: 15px;font-size: 36px;">FAQ</b>
  </div>
  <div class="faq_links">
        <ul>
          <div class="faq_links_title">
            General 
          </div>
	   <li><%= link_to "What is <b>sendd.me</b>?".html_safe, faq_path(:anchor =>'faq_question10'), class:"smoothScroll" %></li>
	   <li><%= link_to "How does it work?", faq_path(:anchor =>'faq_question20'), class:"smoothScroll" %></li>
	  	   <li><%= link_to "What are you going to do with my details?", faq_path(:anchor =>'faq_question30'), class:"smoothScroll" %></li>
	   <li><%= link_to "How can I contact another user?", faq_path(:anchor =>'faq_question40'), class:"smoothScroll" %></li>
	   <li><%= link_to "How does the payment system work?", faq_path(:anchor =>'faq_question50'), class:"smoothScroll" %></li>
	   <li><%= link_to "Should I add all the details to my Delivery Request?", faq_path(:anchor =>'faq_question60'), class:"smoothScroll" %></li>
      <div class="faq_links_title">
            Sender
          </div>
           <li><%= link_to "How do I find an item?", faq_path(:anchor =>'faq_question100'), class:"smoothScroll" %></li>
     <li><%= link_to "How do I get the item?", faq_path(:anchor =>'faq_question110'), class:"smoothScroll" %></li>
      <li><%= link_to "How do I find a transporter?", faq_path(:anchor =>'faq_question115'), class:"smoothScroll" %></li>
     <li><%= link_to "Do I need to pay the person which takes the item for me?", faq_path(:anchor =>'faq_question120'), class:"smoothScroll" %></li>
     <li><%= link_to "How can I trust the person I am passing my package with?", faq_path(:anchor =>'faq_question18'), class:"smoothScroll" %></li>
     <li><%= link_to "OK, sounds cool. what's in it for sendd.me?", faq_path(:anchor =>'faq_question6'), class:"smoothScroll" %></li>
     <li><%= link_to "Can I delete my Delivery Requests?", faq_path(:anchor =>'faq_question19'), class:"smoothScroll" %></li>
     <li><%= link_to "How can I contact the Transporter about the delivery?", faq_path(:anchor =>'faq_question20'), class:"smoothScroll" %></li>
     <li><%= link_to "How much will it cost me to have something delivered?", faq_path(:anchor =>'faq_question21'), class:"smoothScroll" %></li>
     <li><%= link_to "How do I pay the Transporter?", faq_path(:anchor =>'faq_question22'), class:"smoothScroll" %></li>
     <li><%= link_to "What does <b>sendd.me</b> charge me?".html_safe, faq_path(:anchor =>'faq_question23'), class:"smoothScroll" %></li>
     <li><%= link_to "Are there any items I'm not allowed to have delievered?", faq_path(:anchor =>'faq_question24'), class:"smoothScroll" %></li>
          <li><%= link_to "I don't know anyone on <b>sendd.me</b>. How can I trust them?".html_safe, faq_path(:anchor =>'faq_question7'), class:"smoothScroll" %></li>
  
  <div class="faq_links_title">
           Giver
          </div>
           <li><%= link_to "How do I post an item?", faq_path(:anchor =>'faq_question3'), class:"smoothScroll" %></li>
     <li><%= link_to "Can I post a number of items?", faq_path(:anchor =>'faq_question4'), class:"smoothScroll" %></li>
     <li><%= link_to "What details to I need to give to post an item?", faq_path(:anchor =>'faq_question5'), class:"smoothScroll" %></li>
         <!     <div class="static_content">
          <div class="faq_links_title">
     Transporter
        </div>
      <li><%= link_to "How do I sign up ?", faq_path(:anchor =>'faq_question32'), class:"smoothScroll" %></li>
       <li><%= link_to "How do I find a delivery ?", faq_path(:anchor =>'faq_question33'), class:"smoothScroll" %></li>
   <li><%= link_to "Who sets the price of the delivery ?", faq_path(:anchor =>'faq_question34'), class:"smoothScroll" %></li>
    <li><%= link_to " How does the payment system work ?", faq_path(:anchor =>'faq_question35'), class:"smoothScroll" %></li>
    <li><%= link_to "When do I get paid for the task?", faq_path(:anchor =>'faq_question12'), class:"smoothScroll" %></li>
    <li><%= link_to "I didn't receive the money even though the Sender said he sent it.", faq_path(:anchor =>'faq_question25'), class:"smoothScroll" %></li>
   <li><%= link_to "Do I need to pay taxes?", faq_path(:anchor =>'faq_question13'), class:"smoothScroll" %></li>
   <li><%= link_to "How do I know there is nothing illegal in the package I'm delivering?", faq_path(:anchor =>'faq_question14'), class:"smoothScroll" %></li>
   <li><%= link_to "Can I delete my Delivery Suggestions?", faq_path(:anchor =>'faq_question15'), class:"smoothScroll" %></li>
   <li><%= link_to "How can I contact the Sender about the delivery?", faq_path(:anchor =>'faq_question16'), class:"smoothScroll" %></li>
   <li><%= link_to "Can I cancel a task after I've already picked up the delivery?", faq_path(:anchor =>'faq_question17'), class:"smoothScroll" %></li>
      
      <div class="faq_title" style="margin-top: 5px">
      General
    </div>
    <a name="faq_question10"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      What is <b>sendd.me</b>?
    </div>
    <div class="faq_answer">
      sendd.me is a platform for getting second hand items.<br>
      Whenever you want a secondhand item, you come to us and not only you will find what you are looking for<br>
      We will connect you to someone that will bring it to your doorstep.
    </div>
    <a name="faq_question20"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How does it work?
    </div>
    <div class="faq_answer">
      We're trying very hard to make it very easy for you.<br><br>
      <ul>
        <li>Go to <b>Browse items</b> at the main page.</li>
        <li>Pick a secondhane item you want.</li>
        <li>Get confirmed by the person who gives it.</li>
        <li>You can take yourself or choose a sender.</li>
        <li>The item is at your doorstep :) </li>
      </ul>
      Need to deliver somewhere quickly?
      <ul>
        <li>Go to <b>Find Transporters</b> at the top.</li>
        <li>Pick an available  Delivery Suggestion.</li>
        <li>Get confirmed by the Transporter.</li>
        <li>Get your things delivered!</li>
      </ul>
    </div>
    <a name="faq_question30"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      I haven't found a Delivery Request/Suggestion which was right for me
    </div>
    <div class="faq_answer">
      Hey, that can happen to anyone!<br>
      We also provide the ability to add your own Delivery Requests/Suggestions!<br><br>
      Want to add your own Delivery Suggestion?
      <ul>
        <li>Go to <b>Browse Senders</b> at the top.</li>
        <li>Click <b>Add your own suggestion</b>.</li>
        <li>Take 15 seconds to add necessary details.</li>
        <li>Get accepted by many Senders.</li>
        <li>Confirm your Sender.</li>
        <li>Perform delivery.</li>
        <li>Get paid!</li>
      </ul>
      Want to add your own Delivery Request?
      <ul>
        <li>Go to <b>Find Transporters</b> at the top.</li>
        <li>Click <b>Add your own request</b>.</li>
        <li>Take 15 seconds to add necessary details.</li>
        <li>Get accepted by many Transporters.</li>
        <li>Confirm your Transporter.</li>
        <li>Get your things delivered!</li>
      </ul>
    </div>
    <a name="faq_question40"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Can I edit the details in my Delivery Request/Suggestion?
    </div>
    <div class="faq_answer">
      Yes you can, as long as your Delivery Request/Suggestion hasn't been accepted by anyone yet.<br>
      Simply go to your Delivery Request/Suggestions's page, and click <b>Edit</b>.
    </div>
    <a name="faq_question50"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Can I post a number of Delivery Requests/Suggestions?
    </div>
    <div class="faq_answer">
      Absolutely! We encourage our Senders and Transporters to post as many deliveries as they like.<br>
      Become a top rated Sender or Transporter quicker, earn more money and deliver your stuff quickly!
    </div>
    <a name="faq_question60"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      OK, sounds cool. what's in it for sendd.me?
    </div>
    <div class="faq_answer">
      Besides making the world a better, more efficient and environment friendly place, we also charge 10% out of each delivery cost.
    </div>
    <a name="faq_question7"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      I don't know anyone on <b>sendd.me</b>. How can I trust them?
    </div>
    <div class="faq_answer">
      We do our best to verify all of our Transporters and Senders.<br>
      We do so in 4 ways:
      <ul>
        <li>We verify your mobile phone number (Cannot accept/confirm deliveries without this).</li>
        <li>We verify your Facebook account.</li>
        <li>We verify your Email address.</li>
        <li>We have a simple, yet effective user rating system.</li>
      </ul>
      If you are good, and have verified all of your details, others will give you good reviews, and you will get confirmed for more deliveries.
      Make a reputation for yourself, and become a top Transporter or Sender!
    </div>
    <a name="faq_question3"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      What are you going to do with my details?
    </div>
    <div class="faq_answer">
      We are committed to never exposing any of your details.<br>
      The only exceptions are the following cases:
      <ul>
        <li>A Sender confirms a Transporter for his Delivery Request, after which both their mobile phone numbers become visible only to the both of them.</li>
        <li>A Sender authorizes Preapproved Payment for a Delivery Suggestion, after which both their mobile phone numbers become visible only to the both of them.</li>
      </ul>
    </div>
    <a name="faq_question4"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How can I contact another user?
    </div>
    <div class="faq_answer">
      We provide 3 ways of communicating with other users:
      <ul>
        <li>Leave a comment to creator of Delivery Request/Suggestion (Visible for everyone)</li>
        <li>After accepting a Delivery Request/Suggestion, you can send a direct message to its creator (Visible for the 2 of you alone).</li>
        <li>After being confirmed for a Delivery Request/Suggestion, you can call its creator via mobile phone (Visible for the 2 of you alone)</li>
      </ul>
    </div>
    <a name="faq_question5"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How does the payment system work?
    </div>
    <div class="faq_anwser">
      We process all payments through PayPal.<br>
      For each delivery, the Sender must authorize a Preapproved Payment:
      <ul>
        <li>For your own Delivery Requests - a Preapproved Payment for the amount you set when creating the Delivery Request.</li>
        <li>For a Transporter's Delivery Suggestion - a Preapproved Payment for the amount set by the Transporter when creating the Delivery Suggestion.</li>
      </ul>
      When the delivery is complete, PayPal will transfer the Preapproved Payment amount to the Transporter.
    </div>
    <a name="faq_question6"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Should I add all the details to my Delivery Request/Suggestion?
    </div>
    <div class="faq_answer">
      You don't have to, but you definitely should!<br>
      Why, you ask?<br>
      When you add all the details to your Delivery Request/Suggestion, it is then marked as <b>has all details</b>.<br>
      This gives you 2 things:
      <ul>
        <li>Priority in our lists</li>
        <li>More Transporters/Senders coming your way!</li>
      </ul>
      That's why it's very important to fill out all the details.
    </div>
    <div class="faq_title">
      Transporter
    </div>
    <a name="faq_question12"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      When do I get paid for the task?
    </div>
    <div class="faq_answer">
      You get paid after you have successfully performed a delivery, which can be either:
      <ul>
        <li>A Sender's Delivery Request of which you are the confirmed Transporter.</li>
        <li>Your own Delivery Suggestion accepted and confirmed by a Sender.</li>
      </ul>
    </div>
 <a name="faq_question25"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
     I didn't receive the money even though the Sender said he sent it.
    </div>
    <div class="faq_answer">
      You need to check that the email address you used to sign up to sendd.me is associated with your with PayPal account.<br>
      If not, you can add it (In fact, you can have up to 8 different email addresses associated with a single PayPal account).
    </div>
    <a name="faq_question13"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Do I need to pay taxes?
    </div>
    <div class="faq_answer">
      You need to pay taxes according to the law in your state/country. Nevertheless, in most countries there is a minimum for income tax exemption.
    </div>
    <a name="faq_question14"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How do I know there is nothing illegal in the package I'm delivering?
    </div>
    <div class="faq_answer">
      We do our best to verify all of our Senders and Transporters.<br>
      We do whatever we can to make sure nothing illegal is being delivered.<br>
      It is, however, your ultimate responsibility not to take any packages you suspect are illegal in any way to deliver.
    </div>
    <a name="faq_question15"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Can I delete my Delivery Suggestions?
    </div>
    <div class="faq_answer">
      You can delete your Delivery Suggestions, as long as you haven't confirmed a Sender.
      Nevertheless , we don’t recommend doing so.<br>
      Try to avoid the creation of Delivery Suggestions you're not sure about.
    </div>
    <a name="faq_question16"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How can I contact the Sender about the delivery?
    </div>
    <div class="faq_answer">
      We provide 3 ways of communicating with other users:
      <ul>
        <li>Leave a comment to creator of Delivery Request/Suggestion (Visible for everyone)</li>
        <li>After accepting a Delivery Request/Suggestion, you can send a direct message to its creator (Visible for the 2 of you alone).</li>
        <li>After being confirmed for a Delivery Request/Suggestion, you can call its creator via mobile phone (Visible for the 2 of you alone)</li>
      </ul>
    </div>
    <a name="faq_question17"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Can I cancel a task after I've already picked up the delivery?
    </div>
    <div class="faq_answered">
      We expect our Transporters to successfully complete delivery tasks they take upon themselves.
      If, for some reason,  you think you can’t deliver, you will need to contact the Sender and inform him about the situation.
      You will not get paid for the delivery.
    </div>
    <div class="faq_title">
      Sender
    </div>
    <a name="faq_question100"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How do I find an item?
    </div>
    <div class="faq_answer">
      It's very simple. You can Press browse an item in the main page or at the top: find Item.
      </div>
      <a name="faq_question110"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How do I get the item?
    </div>
    <div class="faq_answer">
      You have two ways,you can get it your self or use our sendd.me option and find a transporter to get it.
      </div>
      <a name="faq_question115"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How do I find a transporter ?
    </div>
    <div class="faq_answer">
      It's easy, when you comfirm thay you want the item, you will have to choose if to take it yourself or use sendd.me transporters. When you choose sendd.me transporters, you will redirected to a page where you chould choose a transporter of your liking.
      </div>
      <a name="faq_question120"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Do I need to pay the person I am passing my package with ?
    </div>
    <div class="faq_answer">
      Yes, you need to pay him according to the distance and size of the item.
      </div>
    <a name="faq_question18"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How can I trust the person I am passing my package with?
    </div>
    <div class="faq_answer">
      We do our best to verify all of our Transporters and Senders.<br>
      We do so in 4 ways:
      <ul>
        <li>We verify your mobile phone number (Cannot accept/confirm deliveries without this).</li>
        <li>We verify your Facebook account.</li>
        <li>We verify your Email address.</li>
        <li>We have a simple, yet effective user rating system.</li>
      </ul>
      If you are good, and have verified all of your details, others will give you good reviews, and you will get confirmed for more deliveries.
      Make a reputation for yourself, and become a top Transporter or Sender!
    </div>
    <a name="faq_question19"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Can I delete my Delivery Requests?
    </div>
    <div class="faq_answer">
      You can delete your Delivery Requests, as long as you haven't confirmed a Transporter.
      Nevertheless , we don’t recommend doing so.<br>
      Try to avoid the creation of Delivery Requests you're not sure about.
    </div>
    <a name="faq_question20"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How can I contact the Transporter about the delivery?
    </div>
    <div class="faq_answer">
      We provide 3 ways of communicating with other users:
      <ul>
        <li>Leave a comment to creator of Delivery Request/Suggestion (Visible for everyone)</li>
        <li>After accepting a Delivery Request/Suggestion, you can send a direct message to its creator (Visible for the 2 of you alone).</li>
        <li>After being confirmed for a Delivery Request/Suggestion, you can call its creator via mobile phone (Visible for the 2 of you alone)</li>
      </ul>
    </div>
    <a name="faq_question21"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How much will it cost me to have something delivered?
    </div>
    <div class="faq_answer">
      You decide how much you are willing to pay for the delivery of your package.<br>
      Needless to say - the more you are willing to pay, the quicker you will find a Transporter!
    </div>
    <a name="faq_question22"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      How do I pay the Transporter?
    </div>
    <div class="faq_anwser">
      We process all payments through PayPal.<br>
      For each delivery, the Sender must authorize a Preapproved Payment:
      <ul>
        <li>For your own Delivery Requests - a Preapproved Payment for the amount you set when creating the Delivery Request.</li>
        <li>For a Transporter's Delivery Suggestion - a Preapproved Payment for the amount set by the Transporter when creating the Delivery Suggestion.</li>
      </ul>
      When the delivery is complete, PayPal will transfer the Preapproved Payment amount to the Transporter.
    </div>
    <a name="faq_question23"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      What does <b>sendd.me</b> charge me?
    </div>
    <div class="faq_answer">
      we also charge 10% out of each delivery cost.
    </div>
    <a name="faq_question24"></a>
    <div class="faq_back_to_top">
      <%= link_to "Back to top".html_safe, faq_path(:anchor =>'faq_top'), class:"smoothScroll" %>
    </div>
    <div class="faq_question">
      Are there any items I'm not allowed to have delievered?
    </div>
    <div class="faq_answer">
      Yes, absolutely - anything that is illegal in any way at all.
    </div>
    <div class="faq_email">
      For any other questions, don’t hesitate to email us - <b>info@sendd.me</b>
    </div>
  </div>
</div>
