<div class="home_container1">
  <div class="main_logo">
   <%= image_tag("Logo_large.png") %>
  </div>
  <div class="top_tagline">
    <b>Everyone deserves a second hand chance.</b>
  </div>
  <div class="home_movie">
    <%= link_to image_tag("Wideo.png"), "http://www.wideo.co/view/1334011386782453326", onclick: "var w = window.open(this.href); w.focus(); return false;" %>
  </div>
  <div class="subtop_tagline">
    <b>sendd.me</b> is here to help with your second hand pick ups.<br>
    People give away items, But you cannot always pick them up.<br>
    We'll get those items for  you - from their location, to your doorstep!
  </div>
  <div class="two_main_buttons" id="main_div">
    <div class="right_button"  onclick="location.href='/request'">
      <b>Ask for a pick up.</b>
    </div>
    <div class="left_button" onclick="location.href='/suggest'">
      <b>Transport Something.</b>
    </div>
  </div>
</div>
<div class="home_container2">
  <div class="middle_tagline">
    <b>Your package is in good hands.</b>
  </div>
  <div class="good_hands_right">
    <div class="good_hands_image">
      <%= image_tag("verified_members.png") %>
    </div>
    <div class="good_hands_text" style="padding-left: 30px;">
      <div class="good_hands_text_title">
        Our members are verified.
      </div>
      <div class="good_hands_text_content">
       Our transporters and senders validate their mobile phone number, their Facebook account and their contact email address. <br>
      </div>
    </div>
  </div>
  <div class="good_hands_right">
    <div class="good_hands_image">
      <%= image_tag("secure_details.png") %>
    </div>
    <div class="good_hands_text" style="padding-left: 30px;">
      <div class="good_hands_text_title">
        Your privacy is guaranteed.
      </div>
      <div class="good_hands_text_content">
        We will never expose your personal details, <br>
        and are committed to ensuring that your information is secure.
      </div>
    </div>
  </div>
  <div class="good_hands_right">
    <div class="good_hands_image">
      <%= image_tag("secure_payment.png") %>
    </div>
    <div class="good_hands_text" style="padding-left: 30px;">
      <div class="good_hands_text_title">
        Payment is secure, simple.
      </div>
      <div class="good_hands_text_content">
        Payment is done through PayPal, <br>
        in a secure, SSL-Encrypted fashion.
      </div>
    </div>
  </div>
  <% if current_user.nil? %>
      <div class="signup_now" onclick="location.href='/signup'">
        <b>Get your own account!</b>
      </div>
  <% end  %>
</div>
<a name="how_it_works"></a>
<div class="home_container3">
  <div class="how_it_works_container">
    <div class="how_it_works_title" style="padding-top:100px; text-align: center;">
      <b>How it works.</b>
    </div>
    <div class="how_it_works_right">
      <div class="how_it_works_image">
        <%= image_tag("HowItWorks1.png") %>
      </div>
      <div class="how_it_works_text" style="padding-left: 30px;">
        <div class="how_it_works_text_title">
          Post your delivery request.
        </div>
        <div class="how_it_works_text_content">
          Fill out basic details about your item.<br>
          You only have to tell us what you're sending, where from and to, and how much you will pay for the delivery.
        </div>
      </div>
    </div>
    <div class="how_it_works_right">
      <div class="how_it_works_text" style=" padding-right: 30px;">
        <div class="how_it_works_text_title">
          Pick your transporter.
        </div>
        <div class="how_it_works_text_content">
          Choose the right person for your task.<br>
          Confirm one transporter out of the many who accept your delivery request.
        </div>
      </div>
      <div class="how_it_works_image">
        <%= image_tag("HowItWorks2.png") %>
      </div>
    </div>
    <div class="how_it_works_right">
      <div class="how_it_works_image">
        <%= image_tag("HowItWorks3.png") %>
      </div>
      <div class="how_it_works_text" style="padding-left: 20px;">
        <div class="how_it_works_text_title">
          Authorize PayPal payment.
        </div>
        <div class="how_it_works_text_content">
          Confirm delivery payment.<br>
          Transaction is processed only after transporter has successfully completed your delivery request.
        </div>
      </div>
    </div>
    <div class="how_it_works_right">
      <div class="how_it_works_text" style=" padding-right: -10px;">
        <div class="how_it_works_text_title">
          Get your stuff delivered.
        </div>
        <div class="how_it_works_text_content">
          This is when your delivery happens.<br>
          Once it's complete, PayPal finishes the transaction.
          Rate the experience you've had with your transporter.
        </div>
      </div>
      <div class="how_it_works_image">
        <%= image_tag("HowItWorks4.png") %>
      </div>
    </div>
    <% if current_user.nil? %>
        <div class="signup_now" onclick="location.href='/signup'">
          <b>Get your own account!</b>
        </div>
    <% end  %>

  </div>
</div>