<div class="new_delivery_request_class">
  <%= form_for(@phone, :remote => true) do |f| %>
      <fieldset>
        <div class="single_step">
          <legend><b>Add your phone number</b></legend>
          <%= f.hidden_field :user_id, :value => params[:user_id] %>
          <div class="myfield_phone">
            <%= f.label :phone, "+972" %>
            <%= f.text_field :phone, :placeholder => "0521234567" %>
          </div>
          <div class="form_submit" style="margin-top:20px;">
            <%=  f.submit "Add Phone" , :id => 'submit_delivery' %>
          </div>
        </div>
      </fieldset>
  <% end  %>
</div>