<div class="modal_title">
  Phone Number Verification
</div>
<div class="modal_text">
  <% if @coming_from == "accept" %>
      You've chosen to accept "<div class="special"><%= @suggest_delivery.size %> sized items</div>"
      by <div class="special"><%= @suggest_delivery.user.name %></div>.<br><br>
  <% elsif @coming_from == "confirm" %>
      You've chosen to confirm <div class="special"><%= @confirmed_user.name %></div>
      for "<div class="special"><%= @suggest_delivery.size %> Sized Items</div>".<br><br>
  <% end  %>

  <% if @my_phone.present? %>
      In order to proceed with that, we're going to need you to verify your <div class="special">phone number (<%= @my_phone.phone %>)</div>.
  <% else  %>
      In order to proceed with that, we're going to need you to add your <div class="special">phone number</div> and verify it.
  <% end  %>
  <br><br>
  Your phone remains confidential until a Sender is confirmed for your Delivery Suggestion.
</div>
<div class="modal_proceed">
  <% if @my_phone.present? %>
      <%=  link_to image_tag("verify_now_popup.png"),
                   {:controller => "phones",
                    :action => "verify",
                    :user_id => current_user.id } %>
  <% else  %>
      <%=  link_to image_tag("add_now_popup.png"),
                   {:controller => "phones",
                    :action => "new",
                    :user_id => current_user.id } %>
  <% end  %>
</div>


