<div class="new_delivery_request_class">
  <%= form_tag  phone_check_path %>
  <fieldset>
    <div class="single_step">
      <legend><b style="font-size: 37px;">Verify your phone number</b></legend>
      <div class="phone_text">
        We've sent a <b style="color:#f2ff5e">6-digit verification code</b> <br>to the phone number you've provided.
      </div>
      <div class="myfield_verify_phone" style="padding:15px">
        <div class="verif_code">
          Code:
        </div>
        <%= hidden_field_tag(:user_id, value:current_user.id) %>
        <%= text_field_tag :verification_code  %>
      </div>
      <div class="form_submit" style="margin-top:21px;">
        <%=  submit_tag "Verify Phone" , :id => 'submit_delivery' %>
      </div>
    </div>
    <div class="by_signing_up">
      Didn't get SMS with verification code? try  <%= link_to "resending it", send_code_path(current_user.id)  %>.
    </div>
  </fieldset>
</div>