<div class="form_class">
  <h1>Sign in</h1>
  <%= form_for(:session, url: sessions_path, :remote => true, :html => { :id => "new_session" } ) do |f|  %>
        <div class="myfield_session">
          <%=  f.label :email, "Email"   %>
          <%=  f.text_field :email  %>
        </div>
      <div class="myfield_session">
        <%=  f.label :password, "Password"  %>
        <%=  f.password_field :password  %>
      </div>
      <%=  f.submit "Sign in", class: "btn btn-large btn-primary" %>
  <% end  %>
  <p> Not registered yet? <%= link_to "Sign up now!", signup_path  %></p>
</div>