<div class="signin_form_class">
  <div class="form_title" style="background-image: url('../assets/Signin_key.png');">
    <b>Sign In</b>
  </div>
  <%= form_for(:session, url: sessions_path, :remote => true, :html => { :id => "new_session" } ) do |f|  %>
      <div class="signin_fields">
        <div class="myfield_signin">
          <%=  f.label :email, "Email"   %>
          <%=  f.text_field :email  %>
        </div>
        <div class="myfield_signin">
          <%=  f.label :password, "Password"  %>
          <%=  f.password_field :password  %>
        </div>
      </div>
        <div class="button_signin">
          <%=  f.submit "Sign in", :type => :image, :src => "../assets/Signin.png" %>
        </div>
  <% end  %>
</div>