<div class="comments_data">
  <div class="comment_item" style="text-align: left;">
    <div class="chat_gravatar" style="float:left; width:50px; text-align: center;">
      <%=  link_to chat_gravatar_for(@commentable.user), @commentable.user  %><br>
      <div class="gravatar_user_name">
        <%= link_to @commentable.user.name, @commentable.user %>
      </div>
    </div>
    <div class="triangle-isosceles left">
      <% if @commentable.more_details.blank?  %>
          <b>"Feel free to ask me questions for info."</b>
      <% else  %>
          <b>"<%= @commentable.more_details %>. Feel free to ask me questions for more info."</b>
      <% end  %>
      <div class="comment_posted">
        Posted <%=  time_ago_in_words(@commentable.created_at) %> ago.
      </div>
    </div>
  </div>
  <div id="comments">
    <% @comments.each do |comment| %>
    <%= render comment %>
    <% end %>
  </div>
</div>

<div class="comments_form" style="margin-top:20px;">
  <%= form_for [@commentable, @comment], :remote => true do |f| %>
      <% if  session[:comment_content].present? %>
          <%= f.text_area :content, :placeholder => "Type your question here..." ,:value => session[:comment_content], :rows => 1 %>
      <% else  %>
          <%= f.text_area :content, :placeholder => "Type your question here..." , :rows => 1 %>
      <% end  %>
      <%= f.submit "Add", :type => :image, :src => "../assets/add.png" %>
  <% end %>
</div>