<%= form_for(@request_delivery, :remote => true ) do |f| %>
    <div class="edit_data">
      <div class="edit_title">
        <b style="padding-left: 60px;font-size: 36px;">Edit Delivery Request</b>
      </div>
      <div class="edit_what_and_money">
        <div class="edit_what">
          What do you need to deliver?<br><%= f.text_field :what  %>
        </div>
        <div class="edit_money">
          How much will you pay?<br><%= f.text_field :cost  %><%= f.select :currency, options_for_select(%w[NIS USD Euro], :selected => @request_delivery.currency) %>
        </div>
      </div>
      <div class="edit_from_and_to">
        <div class="edit_from">
          Delivery Origin<br><%= f.text_field :from, :class => "address_field" %>
        </div>
        <div class="edit_to">
          Delivery Destination<br><%= f.text_field :to, :class => "address_field" %>
        </div>
      </div>
      <div class="the_size_and_more_info">
        <div class="edit_sender_and_receiver">
          <div class="the_sender">
            <% if @request_delivery.sending_person.blank?  %>
                <b style="color:#d67a31">Sending Person</b><br><%= f.text_field :sending_person  %>
            <% else %>
                Sending Person<br><%= f.text_field :sending_person  %>
            <% end  %>
          </div>
          <div class="the_receiver">
            <% if @request_delivery.receiving_person.blank?  %>
                <b style="color:#d67a31">Receiving Person</b><br><%= f.text_field :receiving_person  %>
            <% else %>
                Receiving Person<br><%= f.text_field :receiving_person  %>
            <% end  %>
          </div>
          <div class="edit_deadline">
            <% if @request_delivery.when.blank? %>
                <b style="color:#d67a31">Delivery By</b><br><%= f.text_field :when, :placeholder => "mm/dd/yyyy", :class => "datepicker" %>
            <% else  %>
                Delivery By<br><%= f.text_field :when, :placeholder => "mm/dd/yyyy", :class => "datepicker", :value => "#{@request_delivery.when.strftime("%d/%m/%Y")}" %>
            <% end  %>
          </div>
          <% if @request_delivery.size == "Large" %>
              <div class="edit_size"  style="background-image: url('../../assets/edit_Large.png');">
                Delivery Size<br><%= f.select :size, options_for_select(%w[Small Medium Large], :selected => @request_delivery.size) %>
              </div>
          <% elsif @request_delivery.size == "Medium" %>
              <div class="edit_size"  style="background-image: url('../../assets/edit_Medium.png');">
                Delivery Size<br><%= f.select :size, options_for_select(%w[Small Medium Large], :selected => @request_delivery.size) %>
              </div>
          <% elsif @request_delivery.size == "Small" %>
              <div class="edit_size"  style="background-image: url('../../assets/edit_Small.png');">
                Delivery Size<br><%= f.select :size, options_for_select(%w[Small Medium Large], :selected => @request_delivery.size) %>
              </div>
          <% elsif @request_delivery.size.blank?  %>
              <div class="edit_size_blank">
                <b style="color:#d67a31">Delivery Size</b><br><%= f.select :size, options_for_select(%w[Small Medium Large]), :include_blank => "Pick Size..." %>
              </div>
          <% end %>
        </div>
        <div class="edit_more_info">
          <% if @request_delivery.more_details.blank? %>
              <b style="color:#d67a31">More Details</b><br><%= f.text_area :more_details, :rows => 2 %>
          <% else  %>
              More Details<br><%= f.text_area :more_details, :rows => 2 %>
          <% end  %>
        </div>
        <div class="edit_update">
          <%= f.submit "Update", :type => :image, :src => "../../assets/Update.png" %>
        </div>
      </div>
    </div>
<% end  %>