<div class="show_request_delivery">
  <div id="current-delivery-map"></div>
  <div class="below_map">
    <div class="user_image">
      <%=  link_to gravatar_for(@request_delivery.user), @request_delivery.user  %>
    </div>
    <div class="the_what_and_who">
      <h2>"I need to deliver <b><%= @request_delivery.what %></b>."</h2>
      <h3>Requested by: <%= @request_delivery.user.name %></h3>
    </div>
    Delivery Origin: <%= @request_delivery.from %><br>
    Delivery Destination : <%= @request_delivery.to %><br>
    Delivery Size: <%= @request_delivery.size %>   <br>
    You can earn: <%= @request_delivery.cost %> NIS <br>
    The details: <br>
    <%= @request_delivery.more_details %>
    <%= @request_delivery.when.strftime("%d/%m/%Y")   %>
  </div>
</div>