<div class="show_request_delivery">
  <div class="right_side">
    <div id="current-delivery-map"></div>
    <div class="extra_info">
      <div class="extra_info_title">
        <b>Extra Info</b>
      </div>
      <div class="extra_info_data">
        <div class="the_deadline">
          Delivery Needed By<br><b><%= @request_delivery.when.strftime("%B #{@request_delivery.when.day.ordinalize}, %Y")%></b>
        </div>
        <% if @request_delivery.size == "Large" %>
            <div class="the_size"  style="background-image: url('../assets/Large.png');">
        <% elsif @request_delivery.size == "Medium" %>
            <div class="the_size"  style="background-image: url('../assets/Medium.png');">
        <% elsif @request_delivery.size == "Small" %>
            <div class="the_size"  style="background-image: url('../assets/Small.png');">
        <% end %>
        Delivery Size<br><b><%= @request_delivery.size %></b>   <br>
        </div>
      </div>
    </div>
  </div>
  <div class="show_data">
    <div class="show_title">
      <b><%= @request_delivery.what %></b>
    </div>
    <div class="the_deadline_and_money">
      <div class="the_money">
        Delivery Bounty<br><b><%= @request_delivery.cost %> NIS</b>
      </div>
    </div>
    <div class="the_from_and_to">
      <div class="the_from">
        Delivery Origin<br><b><%= @request_delivery.from %><br></b>
      </div>
      <div class="the_to">
        Delivery Destination<br><b><%= @request_delivery.to %><br></b>
      </div>
    </div>
    <div class="the_size_and_more_info">
      <div class="posted_by">
        <%=  link_to gravatar_for(@request_delivery.user), @request_delivery.user  %>
        Posted By <b><%= link_to @request_delivery.user.name, @request_delivery.user  %></b>
        <div class="verified_details">
          <div class="verified_item">
            <div class="bubbleInfo">
              <%= image_tag("VerifiedEmail.png", :class => "trigger") %>
              <div class="popup">
                <b><%=@request_delivery.user.name %></b> has verified his/her Email Address.
                <div id="tail1"></div>
                <div id="tail2"></div>
              </div>
            </div>
          </div>
          <div class="verified_item">
            <div class="bubbleInfo">
              <%= image_tag("VerifiedPhone.png", :class => "trigger")%>
              <div class="popup">
                <b><%=@request_delivery.user.name %></b> has verified his/her Phone Number.
                <div id="tail1"></div>
                <div id="tail2"></div>
              </div>
            </div>
          </div>
          <div class="verified_item">
            <div class="bubbleInfo">
            <%= image_tag("VerifiedPhoto.png", :class => "trigger")%>
              <div class="popup">
                <b><%=@request_delivery.user.name %></b> has uploaded a photo.
                <div id="tail1"></div>
                <div id="tail2"></div>
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="the_sender_and_receiver">
        <div class="the_sender">
          Sending Person<br><b><%= @request_delivery.sending_person %><br></b>
        </div>
        <div class="the_receiver">
          Receiving Person<br><b><%= @request_delivery.receiving_person %><br></b>
        </div>
      </div>
    </div>
  </div>
      <div class="show_data" style="margin-top: 15px;">
        <div class="show_title" style="background-image: url('../assets/contact.png');font-size: 2.6em;height:35px;">
          <b>Contact <%= link_to @request_delivery.user.name, @request_delivery.user  %></b>
        </div>
        <div class="show_comments">
          <%= render 'comments/comments' %>
        </div>
      </div>
    </div>