<div class="show_delivery">
  <div class="right_side">
    <% if @request_delivery.user != current_user %>
        <% if @request_delivery.status == "Complete" %>
          <div class="challenge_complete">
            <b style="font-size:33px">Complete</b>
          </div>
      <% elsif @request_delivery.status == "Confirmed"  %>
          <div class="challenge_confirmed">
            <b style="font-size:33px">Confirmed</b>
          </div>
      <% elsif @request_delivery.status == "Pending Confirmation" && @accepted_request.present?  %>
          <div class="challenge_cancelled">
            <b style="font-size:33px"><%= link_to "Cancel Acceptance", accept_request_delivery_path(@request_delivery, type: "cancel"), method: :put %></b>
          </div>
        <% else %>
            <div class="challenge_accepted">
              <b><%= link_to "Accept Request",   accept_request_delivery_path(@request_delivery, type: "accept"), method: :put %></b>
            </div>
        <% end %>
    <% end  %>
    <div id="current-delivery-map"></div>
    <div class="extra_info">
      <div class="extra_info_title">
        <b>Extra Info</b>
      </div>
      <div class="extra_info_data">
        <div class="the_deadline">
          <% if @request_delivery.when.blank? %>
              <% if @request_delivery.user == current_user %>
                  <%= render 'shared/missing' %>
                  <b style="color: #d67a31">Delivery Needed By</b><br>Not set yet.
                  <% else  %>
                  <b>Delivery Needed By</b><br>Not set yet.
              <% end  %>
          <% else %>
              Delivery Needed By<br><b><%= @request_delivery.when.strftime("%B #{@request_delivery.when.day.ordinalize}, %Y")%></b>
          <% end %>
        </div>
        <% if @request_delivery.size == "Large" %>
            <div class="the_size"  style="background-image: url('../assets/Large.png');">
              <b>Delivery Size</b><br><%= @request_delivery.size %>
        <% elsif @request_delivery.size == "Medium" %>
            <div class="the_size"  style="background-image: url('../assets/Medium.png');">
              <b>Delivery Size</b><br><%= @request_delivery.size %>
        <% elsif @request_delivery.size == "Small" %>
            <div class="the_size"  style="background-image: url('../assets/Small.png');">
              <b>Delivery Size</b><br><%= @request_delivery.size %>
        <% elsif @request_delivery.size.blank?  %>
            <div class="the_size">
              <% if @request_delivery.user == current_user %>
                  <%= render 'shared/missing' %>
                  <b style="color: #d67a31">Delivery Size</b><br>Not set yet.
              <% else %>
                  <b>Delivery Size</b><br>Not set yet.
              <% end  %>
        <% end %>
        </div>
        <% if @request_delivery.status == "Complete" %>
            <div class="task_status" style="background-image: url('../assets/status_Complete.png');">
              <b>Request Status</b><br><b style="color: #7f7f7f;"><%= @request_delivery.status %></b>
            </div>
        <% elsif @request_delivery.status == "Confirmed" %>
            <div class="task_status" style="background-image: url('../assets/status_Confirmed.png');">
              <b>Request Status</b><br><b style="color: #0000fa;"><%= @request_delivery.status %></b>
            </div>
        <% elsif @request_delivery.status == "Pending Confirmation"  && @accepted_request.present?%>
            <div class="task_status" style="background-image: url('../assets/status_Pending.png');">
              <b>Request Status</b><br><b style="color: #d67a31;"><%= @request_delivery.status %></b>
            </div>
        <% else %>
            <div class="task_status" style="background-image: url('../assets/status_Open.png');">
              <b>Request Status</b><br><b style="color: #20d62c;">Open</b>
            </div>
        <% end %>
        </div>
    </div>
  </div>
  <div class="show_data">
    <div class="show_title">
      <% if (current_user?(@request_delivery.user)) || (current_user.try(:admin?)) %>
          <div class="delete_post_big">
            <div class="bubbleInfo">
              <%=  link_to image_tag("delete_post_big.png"), @request_delivery, method: :delete, class: "trigger" %>
              <div class="popup" style="height:20px; width:190px; margin-top:57px;">
                <b style="color:#FF0523">Delete</b> your delivery request.
                <div id="tail1" style="left:37px"></div>
                <div id="tail2" style="left:37px"></div>
              </div>
            </div>
          </div>
          <div class="edit_post_big">
            <div class="bubbleInfo">
              <%=  link_to image_tag("edit_post_big.png"), edit_request_delivery_path(@request_delivery), class: "trigger" %>
              <div class="popup" style="height:20px; width:170px; margin-top:57px;">
                <b style="color:#ff9054">Edit</b> your delivery request.
                <div id="tail1" style="left:37px"></div>
                <div id="tail2" style="left:37px"></div>
              </div>
            </div>
          </div>
          <% if @request_delivery.has_all_details %>
              <div class="has_all_details_big">
                <div class="bubbleInfo">
                  <%= image_tag("has_all_details_big.png", class: "trigger") %>
                  <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                    Your request post has <b style="color:#279227">all</b> the necessary details!
                    <div id="tail1" style="left:37px"></div>
                    <div id="tail2" style="left:37px"></div>
                  </div>
                </div>
              </div>
          <% end %>
          <% else  %>
          <% if @request_delivery.has_all_details %>
              <div class="has_all_details_big" style="right:3px;">
                <div class="bubbleInfo">
                  <%= image_tag("has_all_details_big.png", class: "trigger") %>
                  <div class="popup" style="height:20px; width:320px; margin-top:57px;">
                    This request post has <b style="color:#279227">all</b> the necessary details!
                    <div id="tail1" style="left:37px"></div>
                    <div id="tail2" style="left:37px"></div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
      <b style="padding-left: 70px;"><%= @request_delivery.what %></b>
    </div>
    <div class="the_deadline_and_money">
      <% if @request_delivery.currency == "NIS" %>
          <div class="the_money"  style="background-image: url('../assets/nis.png');">
      <% elsif @request_delivery.currency == "Euro" %>
          <div class="the_money"  style="background-image: url('../assets/euro.png');">
      <% elsif @request_delivery.currency == "USD" %>
          <div class="the_money"  style="background-image: url('../assets/usd.png');">
      <% end %>
        Delivery Bounty<br><b><%= @request_delivery.cost %> <%= @request_delivery.currency %></b>
      </div>
    </div>
    <div class="the_from_and_to">
      <div class="the_from">
        Delivery Origin<br><b><%= @request_delivery.from %><br></b>
      </div>
      <div class="the_to">
        Delivery Destination<br><b><%= @request_delivery.to %><br></b>
      </div>
    </div>
    <div class="the_size_and_more_info">
      <div class="posted_by">
        <% if facebook_authorization(@request_delivery.user)  %>
            <%= link_to facebook_profile_photo(@request_delivery.user,"profile"), @request_delivery.user %>
        <% else  %>
            <%=  link_to gravatar_for(@request_delivery.user), @request_delivery.user  %>
        <% end  %>
        Posted By <b><%= link_to @request_delivery.user.name, @request_delivery.user  %></b>
        <div class="verified_details">
          <div class="verified_item">
            <% if @request_delivery.user.email_confirmed %>
                <div class="bubbleInfo">
                  <%= image_tag("VerifiedEmail.png", :class => "trigger") %>
                  <div class="popup">
                    User has <b style="color:#279227">verified</b> his/her Email Address.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
            <% else %>
                <div class="bubbleInfo">
                  <%= image_tag("NonVerifiedEmail.png", :class => "trigger") %>
                  <div class="popup">
                    User has <b style="color: #d67a31">not verified</b> his/her Email Address.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
            <% end  %>
            </div>
          </div>
          <div class="verified_item">
            <div class="bubbleInfo">
              <%= image_tag("NonVerifiedPhone.png", :class => "trigger")%>
              <div class="popup">
                User has <b style="color: #d67a31">not verified</b> his/her Phone Number.
                <div id="tail1" style="left:47px;"></div>
                <div id="tail2" style="left:47px;"></div>
              </div>
            </div>
          </div>
          <div class="verified_item">
            <% if @facebook_authentication.present? %>
                <div class="bubbleInfo">
                  <%= image_tag("VerifiedFB.png", :class => "trigger")%>
                  <div class="popup">
                    User has <b style="color:#279227">verified</b> his/her Facebook Account.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% else %>
                <div class="bubbleInfo">
                  <%= image_tag("NonVerifiedFB.png", :class => "trigger")%>
                  <div class="popup">
                    User has <b style="color: #d67a31">not verified</b> his/her Facebook Account.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% end  %>
            </div>
          <div class="verified_item">
            <div class="bubbleInfo">
            <%= image_tag("NonVerifiedPhoto.png", :class => "trigger")%>
              <div class="popup">
                User has <b style="color: #d67a31">not uploaded</b> a Profile Picture.
                <div id="tail1" style="left:47px;"></div>
                <div id="tail2" style="left:47px;"></div>
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="the_sender_and_receiver">
        <div class="the_sender">
          <% if @request_delivery.sending_person.blank? %>
              <% if @request_delivery.user == current_user %>
                <%= render 'shared/missing_other' %>
                  <b style="color: #d67a31">Sending Person</b><br>Not set yet.
                  <% else  %>
                  <b>Sending Person</b><br>Not set yet.
              <% end  %>
          <% else  %>
              <b>Sending Person</b><br><%= @request_delivery.sending_person %>
          <% end  %>
        </div>
        <div class="the_receiver">
          <% if @request_delivery.receiving_person.blank? %>
              <% if @request_delivery.user == current_user %>
                  <%= render 'shared/missing_other' %>
                  <b style="color: #d67a31">Receiving Person</b><br>Not set yet.
                  <% else  %>
                  <b>Receiving Person</b><br>Not set yet.
              <% end  %>
          <% else  %>
              <b>Receiving Person</b><br><%= @request_delivery.receiving_person %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
      <div class="show_data" style="margin-top: 15px;">
        <div class="show_title" style="background-image: url('../assets/contact.png');font-size: 2.6em;height:35px;">
          <% if @request_delivery.more_details.blank? %>
              <% if @request_delivery.user == current_user %>
                  <%= render 'shared/missing' %>
              <% end  %>
          <% end  %>
          <b style="padding-left: 70px;">Ask More Details</b>
        </div>
        <div class="show_comments">
          <%= render 'comments/comments' %>
        </div>
      </div>
    </div>