<div class="show_delivery" xmlns="http://www.w3.org/1999/html">
  <div class="right_side">
    <% if @request_delivery.user != current_user %>
        <% if @request_delivery.status == "Complete" %>
            <div class="challenge_complete">
              <b style="font-size:33px">Complete</b>
            </div>
        <% elsif @request_delivery.status == "Confirmed"  %>
            <div class="challenge_confirmed">
              <b style="font-size:33px">Confirmed</b>
            </div>
        <% elsif @request_delivery.status == "Pending Confirmation" && @accepted_request.present?  %>
            <div class="challenge_cancelled">
              <b style="font-size:33px"><%= link_to "Cancel Acceptance", accept_request_delivery_path(@request_delivery, type: "cancel"), method: :put %></b>
            </div>
        <% else %>
            <div class="challenge_accepted">
              <% if @my_phone.present? && @my_phone.verified %>
                  <b><%= link_to "Accept Request",   accept_request_delivery_path(@request_delivery, type: "accept"), method: :put %></b>
              <% else  %>
                  <b><%=  link_to "Accept Request",   pre_verify_request_path(@request_delivery.id,"accept"), class:"modal-link trigger",
                                  "data-target" => "#myModal",
                                  "data-toggle" => "modal",
                                  "data-backdrop" => "static" %></b>
              <% end  %>
            </div>
        <% end %>
    <% end  %>
    <div id="current-delivery-map"></div>
    <div class="extra_info">
      <div class="extra_info_title" style="background-image: url('../assets/hand.png');">
        <b>Requested By</b>
      </div>
      <div class="extra_info_data">
        <div class="post_text_user">
          <b><%= link_to @request_delivery.user.name, @request_delivery.user %></b>
          <% if @request_delivery.user.sender_reviews.any? %>
              <div class="star_rating" style="margin-top:5px;margin-bottom:5px;">
                <% @user = @request_delivery.user %>
                <%=render 'shared/sender_star_rating' %>     (<%= @request_delivery.user.sender_reviews.count %>)
              </div>
          <% else  %>
              <div class="not_yet_rated">
                Sender not rated yet
              </div>
          <% end  %>
        </div>
        <div class="posted_by">
          <div class="four_icons">
            <div class="chat_gravatar" style="float:right; width:50px; text-align: center;padding-left:13px;">
              <% if facebook_authorization(@request_delivery.user)  %>
                  <%= link_to facebook_profile_photo(@request_delivery.user,"chat"), @request_delivery.user %>
              <% else  %>
                  <%=  link_to chat_gravatar_for(@request_delivery.user), @request_delivery.user  %>
              <% end  %>
            </div>
            <div class="verified_details">
              <div class="verified_item">
                <% if @request_delivery.user.email_confirmed %>
                    <div class="bubbleInfo">
                      <%= image_tag("VerifiedEmail.png", :class => "trigger") %>
                      <div class="popup" style="text-align: left;">
                        User has <b style="color:#279227">verified</b> his/her Email Address.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                <% else %>
                    <div class="bubbleInfo">
                      <%= image_tag("NonVerifiedEmail.png", :class => "trigger") %>
                      <div class="popup" style="text-align: left;">
                        User has <b style="color: #d67a31">not verified</b> his/her Email Address.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                <% end  %>
              </div>
              <div class="verified_item">
                <% if @phone.present? && @phone.verified %>
                    <div class="bubbleInfo">
                      <%= image_tag("VerifiedPhone.png", :class => "trigger")%>
                      <div class="popup" style="text-align: left;">
                        User has <b style="color: #279227">verified</b> his/her Phone Number.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                <% else %>
                    <div class="bubbleInfo">
                      <%= image_tag("NonVerifiedPhone.png", :class => "trigger")%>
                      <div class="popup" style="text-align: left;">
                        User has <b style="color: #d67a31">not verified</b> his/her Phone Number.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                <% end %>
              </div>
              <div class="verified_item">
                <% if @facebook_authentication.present? %>
                    <div class="bubbleInfo">
                      <%= image_tag("VerifiedFB.png", :class => "trigger")%>
                      <div class="popup" style="text-align: left;">
                        User has <b style="color:#279227">verified</b> his/her Facebook Account.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                <% else %>
                    <div class="bubbleInfo">
                      <%= image_tag("NonVerifiedFB.png", :class => "trigger")%>
                      <div class="popup" style="text-align: left;">
                        User has <b style="color: #d67a31">not verified</b> his/her Facebook Account.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                <% end  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="show_data">
<div class="show_title">
  <% if (current_user?(@request_delivery.user)) || (current_user.try(:admin?)) %>
      <div class="delete_post_big">
        <div class="bubbleInfo">
          <%=  link_to image_tag("delete_post_big.png"), @request_delivery, method: :delete, class: "trigger" %>
          <div class="popup" style="height:20px; width:190px; margin-top:57px;">
            <b style="color:#FF0523">Delete</b> your delivery request.
            <div id="tail1" style="left:37px"></div>
            <div id="tail2" style="left:37px"></div>
          </div>
        </div>
      </div>
      <div class="edit_post_big">
        <div class="bubbleInfo">
          <%=  link_to image_tag("edit_post_big.png"), edit_request_delivery_path(@request_delivery), class: "trigger" %>
          <div class="popup" style="height:20px; width:170px; margin-top:57px;">
            <b style="color:#ff9054">Edit</b> your delivery request.
            <div id="tail1" style="left:37px"></div>
            <div id="tail2" style="left:37px"></div>
          </div>
        </div>
      </div>
      <% if @request_delivery.has_all_details %>
          <div class="has_all_details_big">
            <div class="bubbleInfo">
              <%= image_tag("has_all_details_big.png", class: "trigger") %>
              <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                Your request post has <b style="color:#279227">all</b> the necessary details!
                <div id="tail1" style="left:37px"></div>
                <div id="tail2" style="left:37px"></div>
              </div>
            </div>
          </div>
      <% end %>
  <% else  %>
      <% if @request_delivery.has_all_details %>
          <div class="has_all_details_big" style="right:3px;">
            <div class="bubbleInfo">
              <%= image_tag("has_all_details_big.png", class: "trigger") %>
              <div class="popup" style="height:20px; width:320px; margin-top:57px;">
                This request post has <b style="color:#279227">all</b> the necessary details!
                <div id="tail1" style="left:37px"></div>
                <div id="tail2" style="left:37px"></div>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
  <b style="padding-left: 70px;"><%= @request_delivery.what %></b>
</div>
<div class="the_deadline_and_money">
  <div class="the_money_and_the_deadline_inner" style="background-image: url('../assets/money_small.png');">
    <div class="inner_title">
      <b>Bounty</b>
    </div>
    <div class="the_money">
      <b><%= @request_delivery.cost %> <%= @request_delivery.currency %></b>
    </div>
  </div>
  <div class="the_money_and_the_deadline_inner" style="background-image: url('../assets/calendar_small.png');">
    <div class="inner_title">
      <b>Due Date</b>
    </div>
    <div class="the_date">
      <% if @request_delivery.when.blank? %>
          <% if @request_delivery.user == current_user %>
              <%= render 'shared/missing_other' %>
          <% end  %>
          <b>Not set yet.</b>
      <% else %>
          <%= @request_delivery.when.strftime("%B #{@request_delivery.when.day.ordinalize}, %Y")%>
      <% end %>
    </div>
  </div>
</div>
<div class="the_from_and_to">
  <div class="the_from_and_to_inner" style="background-image: url('../assets/LocationA.png');">
    <div class="inner_title">
      <b>From</b>
    </div>
    <%= @request_delivery.from %>
  </div>
  <div class="the_from_and_to_inner" style="background-image: url('../assets/LocationB.png');">
    <div class="inner_title">
      <b>To</b>
    </div>
    <%= @request_delivery.to %>
  </div>
</div>
<div class="the_sender_and_receiver">
  <div class="the_sender_and_receiver_inner" style="background-image: url('../assets/SendingPerson.png');">
    <div class="inner_title">
      <b>Sending</b>
    </div>
    <div class="send_receive_text">
      <% if @request_delivery.sending_person.blank? %>
          <% if @request_delivery.user == current_user %>
              <%= render 'shared/missing' %>
          <% end  %>
          <b>No Sender in </b><b style="color:#6fba33">Point A</b><b> has been set.</b>
      <% else  %>
          <b>A Sender in Point A has been set!</b>
      <% end  %>
    </div>
  </div>
  <div class="the_sender_and_receiver_inner" style="background-image: url('../assets/ReceivingPerson.png');">
    <div class="inner_title">
      <b>Receiving</b>
    </div>
    <div class="send_receive_text">
      <% if @request_delivery.receiving_person.blank? %>
          <% if @request_delivery.user == current_user %>
              <%= render 'shared/missing' %>
          <% end  %>
          <b>No Receiver in </b><b style="color:#f35044">Point B</b><b> has been set.</b>
      <% else  %>
          <b>A Receiver in Point B has been set!</b>
      <% end  %>
    </div>
  </div>
</div>
  <div class="the_size_and_frequency">
    <div class="the_size_and_frequency_inner"  style="background-image: url('../assets/size_small.png');text-align:left">
      <div class="inner_title" style="display:inline-block;">
        <b>Size</b>
      </div>
      <% if @request_delivery.size.blank? %>
          <% if @request_delivery.user == current_user %>
              <%= render 'shared/missing' %>
          <% end  %>
        <b>Not set yet.</b>
      <% else  %>
        <b>This is a </b><b style="color: #ffa33a"><%= @request_delivery.size %></b><b> sized delivery.</b>
      <% end %>
    </div>
  </div>
<div class="post_text_title">
  <b>Need more details?</b>
</div>
  <div class="show_comments">
    <%= render 'comments/comments' %>
  </div>
</div>
