<div class="show_request_delivery">
  <div id="current-delivery-map"></div>
  <div class="below_map">
    <div class="user_image">
      <%=  link_to gravatar_for(@request_delivery.user), @request_delivery.user  %>
    </div>
    <div class="the_what_and_who">
      <div class="the_what">
        <h2>"I need to deliver <b><%= @request_delivery.what %></b>."</h2>
      </div>
      <div class="the_who">
        <h3>Requested by <b><%= @request_delivery.user.name %></b> on <%= @request_delivery.created_at.strftime("%d/%m/%Y")%></h3><br>
      </div>
    </div>
    <div class="the_deadline_and_money">
      <div class="the_money">
        Delivery Reward<br><b><%= @request_delivery.cost %> NIS</b>
      </div>
      <div class="the_deadline">
        Delivery Needed By<br><b><%= @request_delivery.when.strftime("%d/%m/%Y")   %></b>
      </div>
    </div>
    <div class="the_from_and_to">
      <div class="the_from">
        Delivery Origin<br><b><%= @request_delivery.from %><br></b>
      </div>
      <div class="the_to">
        Delivery Destination<br><b><%= @request_delivery.to %><br></b>
      </div>
    </div>
    <div class="the_size_and_more_info">
      <div class="the_size">
        Delivery Size<br><b><%= @request_delivery.size %></b>   <br>
      </div>
      <div class="more_info">
        More Info<br><b>"<%= @request_delivery.more_details %>."</b>
      </div>
    </div>
  </div>
</div>