<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<%= render 'notif_mailer/mail_include' %>
    <h2>Hi there <%= @creating_user.name %>,</h2><br>
    <h3>It seems <b style="color:#279227"><%= @taking_user.name  %></b> is interested in your Giveaway - "<b style="color:#63a2ff"><%= @request_delivery.what %></b>"!</h3>
    <h3>He/she must now add their location, and choose a delivery option.</h3>
<% if @creating_user.phone.present? %>
    <h3>Go to your <%= link_to "Giveaway's Page", :controller => "request_deliveries", :action => "show", :id => @request_delivery.id,  :host => "www.sendd.me" %> to view its status.</h3>
<% else  %>
    <h3>We need your phone number, so that <b style="color:#279227"><%= @taking_user.name  %></b> could contact you for the pick up.</h3>
    <h3>Go to your <%= link_to "Giveaway's Page", :controller => "request_deliveries", :action => "show", :id => @request_delivery.id,  :host => "www.sendd.me" %> and add your phone number.</h3>
<% end  %>
    <p>
    <h3>Thank you,</h3>
    <h3>Best Regards,</h3>
    <h3>sendd.me Support</h3>
    </p>
</body>
</html>