<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h2>Hi there <%= @accepting_user.name %>,</h2><br>
    <h3>It seems <b style="color:#279227"><%= @creating_user.name  %></b> has completed their suggestion - "<b style="color:#63a2ff"><%= @suggest_delivery.size %> Sized Items</b>"!</h3>
    <h3>That means your delivery has reached its destination!</h3>
    <h3>Go to <%= link_to "SendWith.me", :controller => "static_pages", :action => "home", :host => "sendwithme.herokuapp.com" %> and rate <b style="color:#279227"><%= @creating_user.name  %></b> as a transporter.</h3>
    <p>
    <h3>Yours, Someone</h3>
    </p>
</body>
</html>