<div class="col-md-12">
      <%= form_for(@user, :remote => true) do |f| %>
      <h1 class="nice_form_title">Join <strong>sendd.me</strong>!</h1>
      <h3 class="nice_form_subtitle">Already a member? <%=  link_to "Sign in", signin_path, remote: true %> now.</h3>
      <div class="nice_form_input">
        <%= f.text_field :name, :placeholder => "Name" %>
        <%= f.text_field :email, :placeholder => "Email"%>
        <%= f.password_field :password, :placeholder => "Choose Password"%>
        <%= f.password_field :password, :placeholder => "Retype Password"%>
      </div>
      <button class="nice_form_btn btn-danger">Sign Up</button>
      <div class="btn btn-facebook btn-btn-facebook" onclick="location.href='/auth/facebook'"><i class="fa fa-facebook"></i> | Connect with <strong>Facebook</strong></div>
  <% end  %>
</div>
