<div class="form_class">
  <h1>Go ahead, join us!</h1>
  <%= form_for(@user, :remote => true) do |f| %>
        <%=  render 'shared/error_messages', object: f.object  %>
        <div class="myfield_signup">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name %>
        </div>
      <div class="myfield_signup">
          <%= f.label :email, "Email" %>
          <%= f.text_field :email  %>
        </div>
      <div class="myfield_signup">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password  %>
        </div>
      <div class="myfield_signup">
          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>
        </div>
        <%=  f.submit "Join Us!", :type => :image, :src => "../assets/JoinUsSubmit.png"  %>
  <% end  %>
</div>
