<div class="signup_form_class">
  <div class="form_title" style="background-image: url('../assets/signup.png');">
    <b>Create Your Account</b>
  </div>
  <%= form_for(@user, :remote => true) do |f| %>
      <%=  render 'shared/error_messages', object: f.object  %>
      <div class="signup_fields">
        <div class="myfield_signup">
          <%= f.label :name, "What's your name?" %>
          <%= f.text_field :name %>
        </div>
        <div class="myfield_signup">
          <%= f.label :email, "What's your Email Address?" %>
          <%= f.text_field :email, :placeholder => "someone@example.com" %>
        </div>
        <div class="myfield_signup">
          <%= f.label :password, "Choose a Password:" %>
          <%= f.password_field :password, :placeholder => "At least 8 characters"  %>
        </div>
        <div class="myfield_signup">
          <%= f.label :password_confirmation, "Confirm your Password:" %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="button_signup">
        <%=  f.submit "Join Us!", :type => :image, :src => "../assets/JoinNow.png"  %>
      </div>
      <div class="signup_using_facebook" onclick="location.href='/auth/facebook'">
          Sign Up with Facebook
      </div>
      <div class="by_signing_up">
        By signing up, you agree to our <%= link_to "Terms of Use", terms_of_use_path  %> and <%= link_to "Privacy Policy", privacy_policy_path %>
      </div>
  <% end  %>
</div>
