<div class="show_profile">
  <div class="right_side">
    <% if @user == current_user  %>
        <div class="right_box" style="margin-bottom: 15px;">
          <div class="right_box_title" style="background-image: url('../assets/control_panel_icon.png');">
            <b>Control Panel</b>
          </div>
          <div class="right_box_data">
            <div class="control_panel_item"  style="background-image: url('../assets/edit_post.png');">
              <%= link_to "Edit Profile", edit_user_path(current_user)  %>
            </div>
            <div class="control_panel_item"  style="background-image: url('../assets/sign_out.png');">
              <% if facebook_authorization(current_user)  %>
                  <%= link_to "Sign Out", logout_authentication_path %>
              <% else  %>
                  <%= link_to "Sign Out", signout_path, method: "delete"  %>
              <% end  %>
            </div>
          </div>
        </div>
    <% end  %>
    <div class="right_box" style="margin-bottom:15px">
      <div class="right_box_title" style="background-image: url('../assets/rating_icon.png');">
        <b>Rating</b>
      </div>
      <div class="right_box_data" style="line-height: 100%;">
        <% if @user_transporter_reviews.any? || @user_sender_reviews.any? %>
            <% if @user_transporter_reviews.any? %>
                <div class="rating_item">
                  <div class="rating_title">
                    Transporter Rating:
                  </div>
                  <div class="rating_percent">
                    <b><%= @user.transporter_rating %>%</b>
                  </div>
                  <div class="num_of_votes">
                    (<%= pluralize(@user_transporter_reviews.count, "vote") %>)
                  </div>
                  <div class="star_rating">
                    <%=render 'shared/transporter_star_rating' %>
                  </div>
                </div>
            <% end  %>
            <% if @user_sender_reviews.any? %>
                <div class="rating_item">
                  <div class="rating_title">
                    Sender Rating:
                  </div>
                  <div class="rating_percent">
                    <b><%= @user.sender_rating %>%</b>
                  </div>
                  <div class="num_of_votes">
                    (<%= pluralize(@user_sender_reviews.count, "vote") %>)
                  </div>
                  <div class="star_rating">
                    <%=render 'shared/sender_star_rating' %>
                  </div>
                </div>
            <% end  %>
            <% else  %>
            <% if @user == current_user  %>
                You haven't
            <% else  %>
                User hasn't
            <% end  %>
            been rated yet.
        <% end  %>
      </div>
    </div>
    <div class="right_box">
      <div class="right_box_title" style="background-image: url('../assets/badges_icon.png');">
        <b>Earned Badges</b>
      </div>
      <div class="right_box_data" style="line-height: 100%;">
        <% if @user == current_user  %>
        You haven't
        <% else  %>
        User hasn't
        <% end  %>
        earned any badges yet.
      </div>
    </div>
  </div>
</div>
<div class="show_profile_data">
  <div class="show_profile_title">
    <b style="padding-left:20px;"><%= @user.name %></b>
  </div>
  <div class="profile_pic">
    <% if facebook_authorization(@user)  %>
        <%= facebook_profile_photo(@user,"profile") %>
    <% else  %>
        <%= gravatar_for @user %>
    <% end  %>
  </div>
  <div class="profile_verified">
    <div class="profile_verified_image">
      <%= image_tag("profile_email_verified.png") %>
    </div>
    <div class="profile_verified_item">
      <% if @user == current_user  %>
          <%= @user.email %>
      <% else  %>
          User's Email Address
      <% end  %>
    </div>
    <div class="profile_verified_action">
      <% if @user.email_confirmed %>
          <div class="bubbleInfo">
            <%= image_tag("profile_item_verified.png", class: "trigger") %>
            <div class="popup" style="height:20px; width:220px; margin-top:57px;">
              <% if @user == current_user  %>
                  Your
              <% else  %>
                  User's
              <% end  %>
              Email Address is <b style="color:#279227">verified</b>!
              <div id="tail1" style="left:71px"></div>
              <div id="tail2" style="left:71px"></div>
            </div>
          </div>
      <% else  %>
          <% if @user == current_user  %>
              <%= link_to image_tag("verify_now.png"), { :controller => "users", :action => "verify", :id => @user.id} %>
          <% else  %>
              <div class="bubbleInfo">
                <%= image_tag("profile_item_not_verified.png", class: "trigger") %>
                <div class="popup" style="height:20px; width:260px; margin-top:57px;">
                  User hasn't verified Email Address yet.
                  <div id="tail1" style="left:71px"></div>
                  <div id="tail2" style="left:71px"></div>
                </div>
              </div>
          <% end  %>
      <% end  %>
    </div>
  </div>
  <div class="profile_verified">
    <div class="profile_verified_image">
      <%= image_tag("profile_facebook_verified.png") %>
    </div>
    <div class="profile_verified_item">
      <% if @user == current_user  %>
      Your
      <% else  %>
      User's
      <% end  %>
      Facebook Account
    </div>
    <div class="profile_verified_action">
      <% if facebook_authorization(@user)  %>
          <div class="bubbleInfo">
            <%= image_tag("profile_item_verified.png", class: "trigger") %>
            <div class="popup" style="height:20px; width:245px; margin-top:57px;">
              <% if @user == current_user  %>
                  Your
              <% else  %>
                  User's
              <% end  %>
              Facebook Account is <b style="color:#279227">verified</b>!
              <div id="tail1" style="left:71px"></div>
              <div id="tail2" style="left:71px"></div>
            </div>
          </div>
      <% else  %>
          <% if @user == current_user  %>
              <%= link_to image_tag("verify_now.png"), "/auth/facebook" %>
          <% else  %>
              <div class="bubbleInfo">
                <%= image_tag("profile_item_not_verified.png", class: "trigger") %>
                <div class="popup" style="height:20px; width:290px; margin-top:57px;">
                  User hasn't verified Facebook Account yet.
                  <div id="tail1" style="left:71px"></div>
                  <div id="tail2" style="left:71px"></div>
                </div>
              </div>
          <% end  %>
      <% end  %>
    </div>
  </div>
  <div class="profile_verified">
    <div class="profile_verified_image">
      <%= image_tag("profile_phone_verified.png") %>
    </div>
    <div class="profile_verified_item">
      <% if @user == current_user  %>
          <% if @phone.nil? %>
              Your Mobile Phone Number
          <% else %>
            <%= @phone.phone  %>
          <% end  %>
      <% else  %>
          User's Mobile Phone Number
      <% end  %>
    </div>
    <div class="profile_verified_action">
      <% if @user == current_user  %>
          <% if @phone.nil? %>
              <%=  link_to image_tag("add_now.png"),
                           {:controller => "phones",
                            :action => "new",
                            :user_id => current_user.id } %>
              <% elsif @phone.verified == false %>
              <%=  link_to image_tag("verify_now.png"),
                           {:controller => "phones",
                            :action => "verify",
                            :user_id => current_user.id } %>
          <% elsif @phone.verified == true %>
              <div class="bubbleInfo">
                <%= image_tag("profile_item_verified.png", class: "trigger") %>
                <div class="popup" style="height:20px; width:215px; margin-top:57px;">
                  <% if @user == current_user  %>
                      Your
                  <% else  %>
                      User's
                  <% end  %>
                  Phone number is <b style="color:#279227">verified</b>!
                  <div id="tail1" style="left:71px"></div>
                  <div id="tail2" style="left:71px"></div>
                </div>
              </div>
          <% end %>
      <% else  %>
          <div class="bubbleInfo">
            <%= image_tag("profile_item_not_verified.png", class: "trigger") %>
            <div class="popup" style="height:20px; width:320px; margin-top:57px;">
              User hasn't verified Mobile Phone Number yet.
              <div id="tail1" style="left:71px"></div>
              <div id="tail2" style="left:71px"></div>
            </div>
          </div>
      <% end  %>
    </div>
  </div>
</div>
<div class="show_reviews_data">
  <div class="show_reviews_title" style="background-image: url('../assets/others_say.png');padding-left:15px">
    <b style="padding-left: 20px;">What others are saying about</b>
      <% if @user == current_user  %>
          <b style="color:#f2ff5e">You</b>
      <% else  %>
        <b style="color:#f2ff5e"><%= @user.name %></b>
      <% end  %>
  </div>
  <div class="review_content_wrapper">
    <% if @user_transporter_reviews.any? || @user_sender_reviews.any? %>
        <% if @user_transporter_reviews.any? %>
            <div class="review_content">
              <div class="as_a_something">
                <b>As a Transporter</b>
                </div>
                <% @user_transporter_reviews.each do |user_transporter_review| %>
                    <div class="mini_review">
                      <div class="mini_review_image">
                        <% if user_transporter_review.pos_or_neg == "POSITIVE" %>
                            <%= image_tag("profile_happy.png") %>
                        <% elsif user_transporter_review.pos_or_neg == "NEGATIVE" %>
                            <%= image_tag("profile_sad.png") %>
                        <% end  %>
                      </div>
                      <div class="mini_review_content">
                        "<%= user_transporter_review.review_content %>"
                      </div>
                      <div class="mini_review_from">
                        <%= link_to "-"+user_transporter_review.from_user.name, user_transporter_review.from_user  %>
                      </div>
                    </div>
                <% end  %>
            </div>
        <% end  %>
        <% if @user_sender_reviews.any? %>
            <div class="review_content">
              <div class="as_a_something">
                <b> As a Sender</b>
              </div>
                <% @user_sender_reviews.each do |user_sender_review| %>
                    <div class="mini_review">
                      <div class="mini_review_image">
                        <% if user_sender_review.pos_or_neg == "POSITIVE" %>
                            <%= image_tag("profile_happy.png") %>
                        <% elsif user_sender_review.pos_or_neg == "NEGATIVE" %>
                            <%= image_tag("profile_sad.png") %>
                        <% end  %>
                      </div>
                      <div class="mini_review_content">
                        "<%= user_sender_review.review_content %>"
                      </div>
                      <div class="mini_review_from">
                        <%= link_to "-"+user_sender_review.from_user.name, user_sender_review.from_user  %>
                      </div>
                    </div>
                <% end  %>
        <% end  %>
    <% else  %>
        <div class="no_reviews_yet">
          <% if @user == current_user  %>
              You haven't
          <% else  %>
              User hasn't
          <% end  %>
          been reviewed yet.
        </div>
    <% end  %>
    </div>
  </div>
</div>


