<div class="activity_feed_item">
<% if (current_user.try(:admin?)) %>
      <div class="delete_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("delete_post.png"), activity_suggest_item, method: :delete, class: "trigger" %>
          <div class="popup" style="height:20px; width:215px; margin-top:57px;">
            <b style="color:#FF0523;">Delete</b> your delivery suggestion.
            <div id="tail1" style="left:37px"></div>
            <div id="tail2" style="left:37px"></div>
          </div>
        </div>
      </div>
    <% if activity_suggest_item.has_all_details %>
        <div class="has_all_details">
          <div class="bubbleInfo">
            <%= image_tag("has_all_details.png", class: "trigger") %>
            <div class="popup" style="height:20px; width:305px; margin-top:57px;">
              Your suggestion has <b style="color:#279227">all</b> the necessary details!
              <div id="tail1" style="left:35px"></div>
              <div id="tail2" style="left:35px"></div>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
  <div class="activity_feed_item_info">
  <div class="activity_created">
    Created: <%= activity_suggest_item.created_at.strftime("%d/%m/%Y") %>
  </div>
    <%= link_to activity_suggest_item.size + " sized items", suggest_delivery_path(activity_suggest_item) %>
    <div class="status_and_created">
      <div class="activity_status">
        <% if activity_suggest_item.status == "Open" %>
          <div class="activity_content">
            Your delivery suggestion hasn't been accepted by anyone yet.
            <% if activity_suggest_item.has_all_details == false %>
            Try filling out all the suggestion's details.
            <% end  %>
          </div>
          <div class="activity_status">
            <center><%= image_tag("Activity_Open.png")%></center>
          </div>
        <% elsif activity_suggest_item.status == "Pending Confirmation" %>
            <% if activity_suggest_item.user == current_user  %>
              <div class="activity_content">
              Your delivery suggestion has been accepted!<br>
              After confirming someone, they will be redirected to PayPal for Preapproved Payment Authorization.
                <% @my_suggests_accepted.each do |my_suggest_accepted| %>
                    <% @users.each do |user| %>
                        <% if user.id == my_suggest_accepted.user_id &&
                                    activity_suggest_item.id == my_suggest_accepted.suggest_delivery_id &&
                                    my_suggest_accepted.confirmed == false %>
                            <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                              <div class="needs_to_confirm">
                                <div class="confirm_me" style="right: 35px">
                                  <div class="bubbleInfo">
                                    <% if @phone.present? && @phone.verified %>
                                        <%=  link_to image_tag("confirm_me.png"),
                                                     {:controller => "suggest_deliveries",
                                                      :action => "confirm",
                                                      :accepted_suggest_id => my_suggest_accepted.id,
                                                      :suggest_delivery_id => my_suggest_accepted.suggest_delivery_id  },
                                                     class: "trigger" %>
                                    <% else  %>
                                        <%=  link_to image_tag("confirm_me.png"), pre_verify_suggest_path(my_suggest_accepted.suggest_delivery_id,"confirm"), class:"modal-link trigger",
                                                     "data-target" => "#myModal",
                                                     "data-toggle" => "modal",
                                                     "data-backdrop" => "static" %>
                                    <% end  %>
                                    <div class="popup" style="height:20px; width:225px; margin-top:57px;">
                                      <b style="color:#4dbeff;">Confirm</b> user for your suggestion!
                                      <div id="tail1" style="left:36px"></div>
                                      <div id="tail2" style="left:36px"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="send_message" style="right: 3px">
                                  <div class="bubbleInfo">
                                    <%=  link_to image_tag("send_message.png"),
                                                 {:controller => "conversations",
                                                  :action => "new",
                                                  :recipient_id => user.id,
                                                  :suggest_delivery_id => activity_suggest_item.id  },
                                                 class: "trigger" %>
                                    <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                                      <b style="color:#7ae292;">Send </b> user a message.
                                      <div id="tail1" style="left:36px"></div>
                                      <div id="tail2" style="left:36px"></div>
                                    </div>
                                  </div>
                                </div>
                                <b style="color:#f2ff5e"><%= link_to user.name, user  %></b> has accepted!
                              </div>
                            </div>
                            <div class="activity_status">
                              <center><%= image_tag("Activity_Accepted.png")%></center>
                            </div>
                        <% end  %>
                    <% end  %>
                <% end  %>
              </div>
            <% else  %>
              <div class="activity_content">
              You have accepted this delivery suggestion!<br>
              After being confirmed, you are required authorize PayPal Preapproved Payment.
                <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                  <div class="needs_to_confirm">
                    <div class="send_message" style="right:3px">
                      <div class="bubbleInfo">
                        <%=  link_to image_tag("send_message.png"),
                                     {:controller => "conversations",
                                      :action => "new",
                                      :recipient_id => activity_suggest_item.user.id,
                                      :suggest_delivery_id => activity_suggest_item.id  },
                                     class: "trigger" %>
                        <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                          <b style="color:#7ae292;">Send </b> user a message.
                          <div id="tail1" style="left:36px"></div>
                          <div id="tail2" style="left:36px"></div>
                        </div>
                      </div>
                    </div>
                    <b style="color:#f2ff5e">You</b> have accepted!
                  </div>
                </div>
              </div>
              <div class="activity_status">
                <center><%= image_tag("Activity_Accepted.png")%></center>
              </div>
            <% end  %>
        <% elsif activity_suggest_item.status == "Confirmed" %>
            <% if activity_suggest_item.approved_payment.present?  %>
              <% if activity_suggest_item.user == current_user %>
                  <div class="activity_content">
                  Preapproved Payment has been authorized! <br>
                  After completing the task, click 'Complete Task'.
                  <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                    <div class="needs_to_confirm">
                      <div class="confirm_me" style="right:35px">
                        <div class="bubbleInfo">
                          <%=  link_to image_tag("confirmed.png"), pre_complete_suggest_path(activity_suggest_item.accepted_suggest_confirmed.id), class:"modal-link trigger",
                                       "data-target" => "#myModal",
                                       "data-toggle" => "modal",
                                       "data-backdrop" => "static" %>
                          <div class="popup" style="height:20px; width:185px; margin-top:57px;">
                            Mark suggest as <b style="color:#4dbeff;">Complete</b>!
                            <div id="tail1" style="left:36px"></div>
                            <div id="tail2" style="left:36px"></div>
                          </div>
                        </div>
                      </div>
                      <div class="send_message" style="right:3px">
                        <div class="bubbleInfo">
                          <%=  link_to image_tag("send_message.png"),
                                       {:controller => "conversations",
                                        :action => "new",
                                        :recipient_id => activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest.id,
                                        :suggest_delivery_id => activity_suggest_item.id  },
                                       class: "trigger" %>
                          <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                            <b style="color:#7ae292;">Send </b> user a message.
                            <div id="tail1" style="left:36px"></div>
                            <div id="tail2" style="left:36px"></div>
                          </div>
                        </div>
                      </div>
                         Payment is approved!
                    </div>
                  </div>
                    <div class="send_messages_to_users" style="background-color: #7b337a;border:1px solid;border-color: #000000;">
                      <div class="needs_to_confirm">
                        Call sender (<b style="color:#f2ff5e"><%= link_to activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest.name,
                                                                                                                activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest  %>
                                                                                                        </b>) at <b style="color:#f2ff5e"><%= activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest.phone %></b>.
                      </div>
                    </div>
                  </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Confirmed.png")%></center>
                  </div>
              <% elsif activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest == current_user  %>
                  <div class="activity_content">
                  You have authorized a Preapproved Payment! <br>
                  Please be patient until the delivery is complete.
                    <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                    <div class="needs_to_confirm">
                      <% if activity_suggest_item.when.present? && (Time.now + 3.days > activity_suggest_item.when)%>
                      <% else  %>
                          <div class="confirm_me" style="right:35px">
                            <div class="bubbleInfo">
                              <%=  link_to image_tag("Cancel.png"), pre_cancel_suggest_path(activity_suggest_item.accepted_suggest_confirmed.id), class:"modal-link trigger",
                                           "data-target" => "#myModal",
                                           "data-toggle" => "modal",
                                           "data-backdrop" => "static" %>
                              <div class="popup" style="height:20px; width:205px; margin-top:57px;">
                                <b style="color:#d05e0b;">Cancel</b> Preapproved payment.
                                <div id="tail1" style="left:36px"></div>
                                <div id="tail2" style="left:36px"></div>
                              </div>
                            </div>
                          </div>
                      <% end  %>
                      <div class="send_message" style="right:3px">
                        <div class="bubbleInfo">
                          <%=  link_to image_tag("send_message.png"),
                                       {:controller => "conversations",
                                        :action => "new",
                                        :recipient_id => activity_suggest_item.user.id,
                                        :suggest_delivery_id => activity_suggest_item.id  },
                                       class: "trigger" %>
                          <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                            <b style="color:#7ae292;">Send </b> user a message.
                            <div id="tail1" style="left:36px"></div>
                            <div id="tail2" style="left:36px"></div>
                          </div>
                        </div>
                      </div>
                      <b style="color:#f2ff5e">You</b> have approved the payment!
                    </div>
                  </div>
                    <div class="send_messages_to_users" style="background-color: #7b337a;border:1px solid;border-color: #000000;">
                      <div class="needs_to_confirm">
                        Call transporter (<b style="color:#f2ff5e"><%= link_to activity_suggest_item.user.name, activity_suggest_item.user  %></b>) at <b style="color:#f2ff5e"><%= activity_suggest_item.user.phone %></b>.
                      </div>
                    </div>
                </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Confirmed.png")%></center>
                  </div>
              <% else  %>
                  <br>
                  <div class="send_messages_to_users" style="background-color: #0b5aff;">
                    <div class="needs_to_confirm">
                      <b style="color:#f2ff5e"><%= link_to activity_suggest_item.user.name, activity_suggest_item.user  %></b> has confirmed another user!
                    </div>
                  </div>
              <% end  %>
            <% else  %>
                <% if activity_suggest_item.user == current_user %>
                  <div class="activity_content">
                    You have confirmed this person for your delivery request! <br>
                    He/she now must authorize PayPal Preapproved Payment.
                    <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                      <div class="needs_to_confirm">
                        <div class="send_message" style="right:3px">
                          <div class="bubbleInfo">
                            <%=  link_to image_tag("send_message.png"),
                                         {:controller => "conversations",
                                          :action => "new",
                                          :recipient_id => activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest.id,
                                          :suggest_delivery_id => activity_suggest_item.id  },
                                         class: "trigger" %>
                            <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                              <b style="color:#7ae292;">Send </b> user a message.
                              <div id="tail1" style="left:36px"></div>
                              <div id="tail2" style="left:36px"></div>
                            </div>
                          </div>
                        </div>
                        Waiting for user to authorize Preapproved Payment.
                      </div>
                    </div>
                   </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Confirmed.png")%></center>
                  </div>
                <% elsif activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest == current_user  %>
                  <div class="activity_content">
                    You are confirmed for this delivery suggestion! <br>
                    You now must authorize PayPal Preapproved Payment.
                    <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                      <div class="needs_to_confirm">
                        <div class="confirm_me" style="right: 35px">
                          <div class="bubbleInfo">
                            <%=  link_to image_tag("authorize.png"), pre_authorize_suggest_path(activity_suggest_item.accepted_suggest_confirmed.id), class:"modal-link trigger",
                                         "data-target" => "#myModal",
                                         "data-toggle" => "modal",
                                         "data-backdrop" => "static" %>
                            <div class="popup" style="height:20px; width:280px; margin-top:57px;">
                              <b style="color:#4dbeff;">Authorize</b> Preapproved PayPal Payment.
                              <div id="tail1" style="left:36px"></div>
                              <div id="tail2" style="left:36px"></div>
                            </div>
                          </div>
                        </div>
                        <div class="send_message" style="right:3px">
                          <div class="bubbleInfo">
                            <%=  link_to image_tag("send_message.png"),
                                         {:controller => "conversations",
                                          :action => "new",
                                          :recipient_id => activity_suggest_item.user.id,
                                          :suggest_delivery_id => activity_suggest_item.id  },
                                         class: "trigger" %>
                            <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                              <b style="color:#7ae292;">Send </b> user a message.
                              <div id="tail1" style="left:36px"></div>
                              <div id="tail2" style="left:36px"></div>
                            </div>
                          </div>
                        </div>
                        <b style="color:#f2ff5e"><%= link_to activity_suggest_item.user.name, activity_suggest_item.user  %></b> has confirmed you!
                      </div>
                    </div>
                </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Confirmed.png")%></center>
                  </div>
                <% else  %>
                  <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                      <div class="needs_to_confirm">
                        <b style="color:#f2ff5e"><%= link_to activity_suggest_item.user.name, activity_suggest_item.user  %></b> has confirmed another user!
                      </div>
                    </div>
                <% end  %>
            <% end  %>
        <% elsif activity_suggest_item.status == "Complete" %>
            <% if activity_suggest_item.user == current_user %>
              <% if activity_suggest_item.sender_reviewed  %>
                  <div class="activity_content">
                    You've completed this delivery request, and you have reviewed your sender. Thanks!
                  </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Reviewed.png")%></center>
                  </div>
              <% else  %>
                  <div class="activity_content">
                    You've completed the delivery task!<br>
                    Please take 30 seconds to review your sender.
                    <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                    <div class="needs_to_confirm">
                      <div class="confirm_me" style="right:35px">
                        <div class="bubbleInfo">
                          <%=  link_to image_tag("add_review.png"),
                                       {:controller => "user_reviews",
                                        :action => "new",
                                        :from_user_id => current_user.id,
                                        :to_user_id => activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest.id,
                                        :req_or_sugg => "suggest_delivery",
                                        :job_type => "SENDER",
                                        :task_id => activity_suggest_item.id},
                                       class: "trigger" %>
                          <div class="popup" style="height:20px; width:142px; margin-top:57px;">
                            <b style="color:#4dbeff;">Review</b> your sender!
                            <div id="tail1" style="left:36px"></div>
                            <div id="tail2" style="left:36px"></div>
                          </div>
                        </div>
                      </div>
                      <div class="send_message" style="right:3px;">
                        <div class="bubbleInfo">
                          <%=  link_to image_tag("send_message.png"),
                                       {:controller => "conversations",
                                        :action => "new",
                                        :recipient_id => activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest.id,
                                        :suggest_delivery_id => activity_suggest_item.id  },
                                       class: "trigger" %>
                          <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                            <b style="color:#7ae292;">Send </b> user a message.
                            <div id="tail1" style="left:36px"></div>
                            <div id="tail2" style="left:36px"></div>
                          </div>
                        </div>
                      </div>
                      Waiting for your review.
                    </div>
                  </div>
                </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Complete.png")%></center>
                  </div>
              <% end  %>
            <% elsif activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest == current_user  %>
              <% if activity_suggest_item.transporter_reviewed  %>
                  <div class="activity_content">
                    Your delivery is complete, and you have reviewed your transporter. Thanks!
                  </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Reviewed.png")%></center>
                  </div>
              <% else  %>
                  <div class="activity_content">
                    Your delivery has reached its destination!<br>
                    Please take 30 seconds to review your transporter.
                    <div class="send_messages_to_users" style="background-color: #257b2a;border:1px solid;border-color: #000000;">
                    <div class="needs_to_confirm">
                      <div class="confirm_me" style="right:35px">
                        <div class="bubbleInfo">
                          <%=  link_to image_tag("add_review.png"),
                                       {:controller => "user_reviews",
                                        :action => "new",
                                        :from_user_id => current_user.id,
                                        :to_user_id => activity_suggest_item.user.id,
                                        :req_or_sugg => "suggest_delivery",
                                        :job_type => "TRANSPORTER",
                                        :task_id => activity_suggest_item.id},
                                       class: "trigger" %>
                          <div class="popup" style="height:20px; width:170px; margin-top:57px;">
                            <b style="color:#4dbeff;">Review</b> your transporter!
                            <div id="tail1" style="left:36px"></div>
                            <div id="tail2" style="left:36px"></div>
                          </div>
                        </div>
                      </div>
                      <div class="send_message" style="right:3px;">
                        <div class="bubbleInfo">
                          <%=  link_to image_tag("send_message.png"),
                                       {:controller => "conversations",
                                        :action => "new",
                                        :recipient_id => activity_suggest_item.accepted_suggest_confirmed.other_user_for_suggest.id,
                                        :suggest_delivery_id => activity_suggest_item.id  },
                                       class: "trigger" %>
                          <div class="popup" style="height:20px; width:155px; margin-top:57px;">
                            <b style="color:#7ae292;">Send </b> user a message.
                            <div id="tail1" style="left:36px"></div>
                            <div id="tail2" style="left:36px"></div>
                          </div>
                        </div>
                      </div>
                      Waiting for your review.
                    </div>
                  </div>
                </div>
                  <div class="activity_status">
                    <center><%= image_tag("Activity_Complete.png")%></center>
                  </div>
              <% end  %>
            <% end  %>
        <% end  %>
      </div>
    </div>
  </div>
</div>
