<div class="activity_feed_item">
  <% if (current_user?(activity_suggest_item.user)) || (current_user.try(:admin?)) %>
      <div class="delete_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("delete_post.png"), activity_suggest_item, method: :delete, class: "trigger" %>
          <div class="popup" style="height:20px; width:215px; margin-top:57px;">
            <b style="color:#FF0523;">Delete</b> your delivery suggestion.
            <div id="tail1" style="left:37px"></div>
            <div id="tail2" style="left:37px"></div>
          </div>
        </div>
      </div>
      <div class="edit_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("edit_post.png"), edit_suggest_delivery_path(activity_suggest_item), class: "trigger" %>
          <div class="popup" style="height:20px; width:195px; margin-top:57px;">
            <b style="color:#ff9054">Edit</b> your delivery suggestion.
            <div id="tail1" style="left:35px"></div>
            <div id="tail2" style="left:35px"></div>
          </div>
        </div>
      </div>
  <% end %>
  <div class="activity_feed_item_info">
    <%= link_to activity_suggest_item.size + " sized items", suggest_delivery_path(activity_suggest_item) %>
    <div class="status_and_created">
      <div class="activity_created">
        Created: <%= activity_suggest_item.created_at.strftime("%d/%m/%Y") %>
      </div>
      <div class="activity_status">
        <% if activity_suggest_item.status == "Open" %>
            Status: <b style="color:#20D62C"><%= activity_suggest_item.status %></b>
        <% elsif activity_suggest_item.status == "Pending Confirmation" %>
            Status: <b style="color:#d67a31"><%= activity_suggest_item.status %></b>
            <% if activity_suggest_item.user == current_user  %>
                (from <b style="color:#f2ff5e">you</b>)  <br>
                <% @my_suggests_accepted.each do |my_suggest_accepted| %>
                    <% @users.each do |user| %>
                        <% if user.id == my_suggest_accepted.user_id %>
                            <div class="send_messages_to_users" style="background-color: #257b2a;">
                              <div class="needs_to_confirm">
                                <div class="confirm_me">
                                  <div class="bubbleInfo">
                                    <%=  link_to image_tag("confirm_me.png"),
                                                 {:controller => "suggest_deliveries",
                                                  :action => "confirm",
                                                  :accepted_suggest_id => my_suggest_accepted.id,
                                                  :suggest_delivery_id => my_suggest_accepted.suggest_delivery_id  },
                                                 class: "trigger" %>
                                    <div class="popup" style="height:20px; width:225px; margin-top:57px;">
                                      <b style="color:#4dbeff;">Confirm</b> user for your suggestion!
                                      <div id="tail1" style="left:36px"></div>
                                      <div id="tail2" style="left:36px"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="send_message">
                                  <div class="bubbleInfo">
                                    <%=  link_to image_tag("send_message.png"),
                                                 {:controller => "conversations",
                                                  :action => "new",
                                                  :recipient_id => user.id,
                                                  :suggest_delivery_id => activity_suggest_item.id  },
                                                 class: "trigger" %>
                                    <div class="popup" style="height:20px; width:120px; margin-top:57px;">
                                      <b style="color:#7ae292;">Send </b> a message.
                                      <div id="tail1" style="left:36px"></div>
                                      <div id="tail2" style="left:36px"></div>
                                    </div>
                                  </div>
                                </div>
                                <b style="color:#f2ff5e"><%= link_to user.name, user  %></b> has accepted!
                              </div>
                            </div>
                        <% end  %>
                    <% end  %>
                <% end  %>
            <% else  %>
                (by <b style="color:#f2ff5e"><%= link_to activity_suggest_item.user.name, activity_suggest_item.user %></b>)  <br>
                <div class="send_messages_to_users" style="background-color: #257b2a;">
                  <div class="needs_to_confirm">
                    <div class="send_message" style="right:3px">
                      <div class="bubbleInfo">
                        <%=  link_to image_tag("send_message.png"),
                                     {:controller => "conversations",
                                      :action => "new",
                                      :recipient_id => activity_suggest_item.user.id,
                                      :suggest_delivery_id => activity_suggest_item.id  },
                                     class: "trigger" %>
                        <div class="popup" style="height:20px; width:120px; margin-top:57px;">
                          <b style="color:#7ae292;">Send </b> a message.
                          <div id="tail1" style="left:36px"></div>
                          <div id="tail2" style="left:36px"></div>
                        </div>
                      </div>
                    </div>
                    <b style="color:#f2ff5e">You</b> have accepted!
                  </div>
                </div>
            <% end  %>
        <% elsif activity_suggest_item.status == "Confirmed" %>
            Status: <b style="color:#4dbeff"><%= activity_suggest_item.status %></b>
            <% if activity_suggest_item.user == current_user  && !@confirmed_user_for_suggest.nil? %>
                (by <b style="color:#f2ff5e">you</b>)  <br>
                <div class="send_messages_to_users" style="background-color: #0b5aff;">
                  <div class="needs_to_confirm">
                    <div class="confirm_me">
                      <div class="bubbleInfo">
                        <%= image_tag("confirmed.png", class: "trigger") %>
                        <div class="popup" style="height:20px; width:240px; margin-top:57px;">
                          User is <b style="color:#18a320;">confirmed</b> for your suggest!
                          <div id="tail1" style="left:36px"></div>
                          <div id="tail2" style="left:36px"></div>
                        </div>
                      </div>
                    </div>
                    <div class="send_message">
                      <div class="bubbleInfo">
                        <%=  link_to image_tag("send_message.png"),
                                     {:controller => "conversations",
                                      :action => "new",
                                      :recipient_id => @confirmed_user_for_suggest.id,
                                      :suggest_delivery_id => activity_suggest_item.id  },
                                     class: "trigger" %>
                        <div class="popup" style="height:20px; width:120px; margin-top:57px;">
                          <b style="color:#7ae292;">Send </b> a message.
                          <div id="tail1" style="left:36px"></div>
                          <div id="tail2" style="left:36px"></div>
                        </div>
                      </div>
                    </div>
                    <b style="color:#f2ff5e"><%= link_to @confirmed_user_for_suggest.name, @confirmed_user_for_suggest  %></b> is confirmed!
                  </div>
                </div>
            <% else  %>
                <br>
                <div class="send_messages_to_users" style="background-color: #0b5aff;">
                  <div class="needs_to_confirm">
                    <div class="confirm_me">
                      <div class="bubbleInfo">
                        <%= image_tag("confirmed.png", class: "trigger") %>
                        <div class="popup" style="height:20px; width:260px; margin-top:57px;">
                          You are <b style="color:#18a320;">confirmed</b> for this suggestion!
                          <div id="tail1" style="left:36px"></div>
                          <div id="tail2" style="left:36px"></div>
                        </div>
                      </div>
                    </div>
                    <div class="send_message">
                      <div class="bubbleInfo">
                        <%=  link_to image_tag("send_message.png"),
                                     {:controller => "conversations",
                                      :action => "new",
                                      :recipient_id => activity_suggest_item.user.id,
                                      :suggest_delivery_id => activity_suggest_item.id  },
                                     class: "trigger" %>
                        <div class="popup" style="height:20px; width:120px; margin-top:57px;">
                          <b style="color:#7ae292;">Send </b> a message.
                          <div id="tail1" style="left:36px"></div>
                          <div id="tail2" style="left:36px"></div>
                        </div>
                      </div>
                    </div>
                    <b style="color:#f2ff5e"><%= link_to activity_suggest_item.user.name, activity_suggest_item.user  %></b> has confirmed!
                  </div>
                </div>
            <% end  %>
        <% end  %>
      </div>
    </div>
  </div>
</div>