<div class="activity_feed_item">
<% if activity_request_item.has_all_details %>
    <div class="has_all_details">
      <div class="bubbleInfo">
        <%= image_tag("has_all_details.png", class: "trigger") %>
        <div class="popup" style="height:20px; width:300px; margin-top:57px;text-align: center;">
          This Giveaway has <b style="color:#279227">all</b> the necessary details!
          <div id="tail1" style="left:35px"></div>
          <div id="tail2" style="left:35px"></div>
        </div>
      </div>
    </div>
<% end %>
<div class="activity_feed_item_info">
<%= link_to activity_request_item.what, request_delivery_path(activity_request_item)  %>
<div class="status_and_created">
<div class="activity_status">
<% if activity_request_item.status == "Unpublished" %>
    <div class="activity_content">
      <div class="activity_status_inner">
        Giveaway <br> Unpublished
      </div>
      Your Giveaway has not been published on our lists yet.<br>
      <% if @phone.present? %>
          In order to publish it with that, we're going to need you to verify your phone number (<%= @phone.phone %>).<br>
          <center><%=  link_to "Verify Phone",
                       {:controller => "phones",
                        :action => "verify",
                        :user_id => current_user.id }, :class =>"verify_item" %></center>
      <% else  %>
          In order to proceed with that, we're going to need you to add your phone number and verify it.<br>
          <center><%=  link_to "Add Phone",
                       {:controller => "phones",
                        :action => "new",
                        :user_id => current_user.id }, :class =>"verify_item"  %></center>
      <% end  %>
      <div class="activity_created">
        Created: <%= activity_request_item.created_at.strftime("%d/%m/%Y") %>
      </div>
    </div>
<% elsif activity_request_item.status == "Open" %>
    <div class="activity_content">
      <div class="activity_status_inner">
        Giveaway <br> Open
      </div>
      Your Giveaway has not been accepted by anyone so far.
      <div class="activity_created">
        Created: <%= activity_request_item.created_at.strftime("%d/%m/%Y") %>
      </div>
    </div>
<% elsif activity_request_item.status == "Taken" %>
    <% if activity_request_item.user == current_user  %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Giveaway <br> Wanted
          </div>
          Your Giveaway is wanted by <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b>.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.confirmed_taker == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Giveaway <br> Wanted
          </div>
          You want this Giveaway - no problem!<br>
          We just need  you to add where <b style="color:#f2ff5e">To</b> and select a <b style="color:#f2ff5e">Delivery Option</b>.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% end  %>
<% elsif activity_request_item.status == "ReceiverConfirmed" %>
    <% if activity_request_item.user == current_user  %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Transporter <br> Found
          </div>
          Your Giveaway is to be picked up by <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b>.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.confirmed_taker == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Transporter <br> Found
          </div>
          Your details are confirmed, and you're good to go for the Pick up.<br>
          You should contact <b><%= link_to activity_request_item.user.name, activity_request_item.user %></b> to set the details.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% end  %>
<% elsif activity_request_item.status == "WaitingForTransporter" %>
    <% if activity_request_item.user == current_user  %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Details <br> Confirmed
          </div>
          <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b> has confirmed his/her details for your Giveaway.<br>
          We're now locating a Transporter for the Pick up.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.confirmed_taker == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Details <br> Confirmed
          </div>
          You've confirmed where <b style="color:#f2ff5e">To</b> and a <b style="color:#f2ff5e">Delivery Option</b>.<br>
          We're now locating a Transporter for the Pick up.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% end %>
<% elsif activity_request_item.status == "Pending Confirmation" %>
    <% if activity_request_item.user == current_user  %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Details <br> Confirmed
          </div>
          Someone has offered to pick up your Giveaway.<br>
          Now <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b> must confirm him/her.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.confirmed_taker == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Details <br> Confirmed
          </div>
          You've got Pick up offers:<br>
          <% activity_request_item.possible_transporters.each do |possible_transporter| %>
              <div class="possible_transporter">
                <b><%= link_to possible_transporter.name, possible_transporter %></b> can pick it up!
              </div>
          <% end  %>
        </div>
    <% else  %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Pick Up <br> Accepted
          </div>
          You've accepted this Pick up request.<br>
          <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b> must now confirm you as a Transporter.
        </div>
    <% end  %>
<% elsif activity_request_item.status == "Confirmed" %>
    <% if activity_request_item.user == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Transporter <br> Found
          </div>
          <b><%= link_to activity_request_item.accepted_request_confirmed.other_user_for_request.name,
                         activity_request_item.accepted_request_confirmed.other_user_for_request  %></b> is confirmed for picking up your Giveaway.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.confirmed_taker == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Transporter <br> Found
          </div>
          You've confirmed <b><%= link_to activity_request_item.accepted_request_confirmed.other_user_for_request.name,
                                          activity_request_item.accepted_request_confirmed.other_user_for_request  %></b> for the Pick up!
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.accepted_request_confirmed.other_user_for_request == current_user  %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Confirmed <br> For Pick Up
          </div>
          <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b> has confirmed you as a Transporter.<br>
          You should contact him/her and <b><%= link_to activity_request_item.user.name, activity_request_item.user %></b>, who has the item.
        </div>
    <% end  %>
<% elsif activity_request_item.status == "Complete" %>
    <% if activity_request_item.delivery_type == "myself" %>
        <% if activity_request_item.user == current_user %>
            <div class="activity_content">
              <div class="activity_status_inner">
                Item <br> Received
              </div>
              Your Giveaway has been picked up by <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b>.
              <div class="activity_created">
                Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
              </div>
            </div>
        <% elsif activity_request_item.confirmed_taker == current_user %>
            <div class="activity_content">
              <div class="activity_status_inner">
                Item <br> Received
              </div>
              You have successfully picked up the Giveaway from <b><%= link_to activity_request_item.user.name, activity_request_item.user  %></b>.
              <div class="activity_created">
                Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
              </div>
            </div>
        <% end  %>
    <% elsif activity_request_item.delivery_type == "senddme" %>
        <% if activity_request_item.user == current_user %>
            <div class="activity_content">
              <div class="activity_status_inner">
                Item <br> Received
              </div>
              Your Giveaway has been picked up by <b><%= link_to activity_request_item.accepted_request_confirmed.other_user_for_request.name, activity_request_item.accepted_request_confirmed.other_user_for_request %></b>
              and successfully delivered to <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker %></b>.<br>
              <div class="activity_created">
                Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
              </div>
            </div>
        <% elsif activity_request_item.confirmed_taker == current_user %>
            <div class="activity_content">
              <div class="activity_status_inner">
                Item <br> Received
              </div>
              This Giveaway has been picked up by <b><%= link_to activity_request_item.accepted_request_confirmed.other_user_for_request.name, activity_request_item.accepted_request_confirmed.other_user_for_request %></b>
              and successfully delivered to <b style="color:#f2ff5e">You</b>!<br>
              Please take a few seconds to review him/her.
              <div class="activity_created">
                Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
              </div>
            </div>
        <% elsif activity_request_item.accepted_request_confirmed.other_user_for_request == current_user  %>
            <div class="activity_content">
              <div class="activity_status_inner">
                Item <br> Delivered
              </div>
              You've successfully delivered this Giveaway to <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b>.<br>
              He/she will submit a review about <b style="color:#f2ff5e">You</b>.
              <div class="activity_created">
                Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
              </div>
            </div>
        <% end  %>
    <% end  %>
<% elsif activity_request_item.status == "TransporterReviewed" %>
    <% if activity_request_item.user == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Item <br> Received
          </div>
          Your Giveaway has been picked up by <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b>.
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.confirmed_taker == current_user %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Transporter <br> Reviewed
          </div>
          You've reviewed <b><%= link_to activity_request_item.accepted_request_confirmed.other_user_for_request.name, activity_request_item.accepted_request_confirmed.other_user_for_request %></b>.<br>
          Thank you!
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% elsif activity_request_item.accepted_request_confirmed.other_user_for_request == current_user  %>
        <div class="activity_content">
          <div class="activity_status_inner">
            Transporter <br> Reviewed
          </div>
          <b><%= link_to activity_request_item.confirmed_taker.name, activity_request_item.confirmed_taker  %></b> has added a review about <b style="color:#f2ff5e">You</b>.
          Thank you for transporting!
          <div class="activity_created">
            Updated: <%= activity_request_item.updated_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
    <% end  %>
<% end  %>
</div>
</div>
</div>
</div>
