<div class="activity_feed_item">
  <% if (current_user?(activity_suggest_item.user)) || (current_user.try(:admin?)) %>
      <div class="delete_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("delete_post.png"), activity_suggest_item, method: :delete, class: "trigger" %>
          <div class="popup" style="height:20px; width:215px; margin-top:57px;">
            <b style="color:#FF0523;">Delete</b> your delivery suggestion.
            <div id="tail1" style="left:37px"></div>
            <div id="tail2" style="left:37px"></div>
          </div>
        </div>
      </div>
      <div class="edit_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("edit_post.png"), edit_suggest_delivery_path(activity_suggest_item), class: "trigger" %>
          <div class="popup" style="height:20px; width:195px; margin-top:57px;">
            <b style="color:#ff9054">Edit</b> your delivery suggestion.
            <div id="tail1" style="left:35px"></div>
            <div id="tail2" style="left:35px"></div>
          </div>
        </div>
      </div>
  <% end %>
  <div class="activity_feed_item_info">
    <%= link_to activity_suggest_item.size + " sized items", suggest_delivery_path(activity_suggest_item) %>
    <div class="status_and_created">
      <div class="activity_created">
        Created: <%= activity_suggest_item.created_at.strftime("%d/%m/%Y") %>
      </div>
      <div class="activity_status">
        <% if activity_suggest_item.status == "Open" %>
            Status: <b style="color:#20D62C"><%= activity_suggest_item.status %></b>
        <% elsif activity_suggest_item.status == "Pending Confirmation" %>
            Status: <b style="color:#d67a31"><%= activity_suggest_item.status %></b>
            <% if activity_suggest_item.user == current_user  %>
                (from <b style="color:#f2ff5e">you</b>)
            <% else  %>
                (from <b style="color:#f2ff5e"><%= activity_suggest_item.user.name %></b>)
            <% end  %>
        <% end  %>
      </div>
    </div>
  </div>
</div>