<div class="edit_request_delivery">
  <%= form_for(@request_delivery, :validate => true ) do |f| %>
      <div class="edit_data">
        <div class="edit_title">
          <b style="padding-left: 60px;font-size: 36px;">Edit Delivery Request</b>
        </div>
        <div class="edit_what_and_money">
          <div class="edit_what">
            What do you need to deliver?<br><%= f.text_field :what  %>
          </div>
          <div class="edit_money">
            How much will you pay?<br><%= f.text_field :cost  %><%= f.select :currency, options_for_select(%w[NIS USD Euro], :selected => @request_delivery.currency) %>
          </div>
        </div>
        <div class="edit_from_and_to">
          <div class="edit_from">
            Delivery Origin<br><%= f.text_field :from, :class => "address_field" %>
          </div>
          <div class="edit_to">
            Delivery Destination<br><%= f.text_field :to, :class => "address_field" %>
          </div>
        </div>
        <div class="the_size_and_more_info">
          <div class="edit_sender_and_receiver">
            <div class="the_sender">
              Sending Person<br><%= f.text_field :sending_person  %>
            </div>
            <div class="the_receiver">
              Receiving Person<br><%= f.text_field :receiving_person  %>
            </div>
            <div class="edit_deadline">
              Delivery By<br><%= f.text_field :when, :placeholder => "mm/dd/yyyy", :class => "datepicker", :value => "#{@request_delivery.when.strftime("%d/%m/%Y")}" %>
            </div>
            <% if @request_delivery.size == "Large" %>
                <div class="edit_size"  style="background-image: url('../../assets/edit_Large.png');">
            <% elsif @request_delivery.size == "Medium" %>
                <div class="edit_size"  style="background-image: url('../../assets/edit_Medium.png');">
            <% elsif @request_delivery.size == "Small" %>
                <div class="edit_size"  style="background-image: url('../../assets/edit_Small.png');">
            <% end %>
              Delivery Size<br><%= f.select :size, options_for_select(%w[Small Medium Large], :selected => @request_delivery.size) %>
            </div>
          </div>
          <div class="edit_more_info">
            More Details <br><%= f.text_area :more_details, :rows => 2 %>
          </div>
          <div class="edit_update">
            <%= link_to image_tag("Cancel.png"),  :back %>
            <%= f.submit "Update", :type => :image, :src => "../../assets/Update.png" %>
          </div>
        </div>
      </div>
  <% end  %>
  </div>

