<div class="edit_suggest_delivery">
  <%= form_for(@suggest_delivery, :validate => true ) do |f| %>
      <div class="edit_data">
        <div class="edit_title">
          <b style="padding-left: 60px;font-size: 36px;">Edit Delivery Suggestion</b>
        </div>
        <div class="edit_what_and_money">
          <div class="edit_money">
            How much will you charge?<br><%= f.text_field :cost  %><%= f.select :currency, options_for_select(%w[NIS USD Euro], :selected => @suggest_delivery.currency) %>
          </div>
        </div>
        <div class="edit_from_and_to">
          <div class="edit_from">
            Your Starting Point<br><%= f.text_field :from, :class => "address_field" %>
          </div>
          <div class="edit_to">
            Your End Point<br><%= f.text_field :to, :class => "address_field" %>
          </div>
        </div>
        <div class="the_size_and_more_info">
          <div class="edit_sender_and_receiver">
            <div class="edit_deadline">
              Delivery Date<br><%= f.text_field :when, :placeholder => "mm/dd/yyyy", :class => "datepicker", :value => "#{@suggest_delivery.when.strftime("%d/%m/%Y")}" %>
            </div>
            <% if @suggest_delivery.size == "Large" %>
                <div class="edit_size"  style="background-image: url('../../assets/edit_Large.png');">
            <% elsif @suggest_delivery.size == "Medium" %>
                <div class="edit_size"  style="background-image: url('../../assets/edit_Medium.png');">
            <% elsif @suggest_delivery.size == "Small" %>
                <div class="edit_size"  style="background-image: url('../../assets/edit_Small.png');">
            <% end %>
              Delivery Size<br><%= f.select :size, options_for_select(%w[Small Medium Large], :selected => @suggest_delivery.size) %>
            </div>
          </div>
          <div class="edit_more_info">
            More Details <br><%= f.text_area :more_details, :rows => 2 %>
          </div>
          <div class="edit_update">
            <%= link_to image_tag("Cancel.png"),  suggest_delivery_path(@suggest_delivery) %>
            <%= f.submit "Update", :type => :image, :src => "../../assets/Update.png" %>
          </div>
        </div>
      </div>
  <% end  %>
  </div>

