<div class="new_delivery_request_class">
  <%= form_for(@request_delivery, :remote => true) do |f| %>
      <fieldset>
        <div class="single_step">
          <legend style="background-image: url('../assets/box.png');"><b>What's that you're sending?</b></legend>
          <%= f.label :what, "What would you like to deliver?" %>
          <%= f.text_field :what, :placeholder => "Type delivery contents..."   %>
          <%= f.label :from, "Where do you want to deliver from?" %>
          <%= f.text_field :from, :placeholder => "Type origin address...", :class => "address_field" %>
          <%= f.label :to, "Where do you want your delivery to reach?" %>
          <%= f.text_field :to, :placeholder => "Type destination address...", :class => "address_field"   %>
          <div class="new_money">
            <%= f.label :cost, "How much will you pay for the delivery?" %>
            <%= f.text_field :cost, :placeholder => "Type an amount..."   %>
            <%= f.select :currency, options_for_select(%w[NIS USD Euro]), :include_blank => "Pick Currency..." %>
          </div>
          <div class="form_submit">
            <%= f.submit "Finish", :type => :image, :src => "assets/Finish.png", :class => "finish" %>
          </div>
        </div>
      </fieldset>
  <% end  %>
</div>

