<div class="feed_item">
  <h4><%= request_feed_item.what %></h4>
  From: <%= request_feed_item.from %><br>
  To: <%= request_feed_item.to %><br>
  Delivery Size: <%= request_feed_item.size %>   <br>
  You can earn: <%= request_feed_item.cost %> NIS
</div>