<div class="feed_item" onclick="location.href='<%=request_delivery_path(request_feed_takers_item)%>'">
  <% if (current_user.try(:admin?)) %>
      <div class="delete_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("delete_post.png"), request_feed_takers_item, method: :delete, class: "trigger" %>
          <div class="popup" style="height:20px; width:165px; margin-top:57px;">
            <b style="color:#FF0523;">Delete</b> delivery request.
            <div id="tail1" style="left:37px"></div>
            <div id="tail2" style="left:37px"></div>
          </div>
        </div>
      </div>
      <% if request_feed_takers_item.has_all_details %>
          <div class="has_all_details">
            <div class="bubbleInfo">
              <%= image_tag("has_all_details.png", class: "trigger") %>
              <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                This Giveaway has <b style="color:#279227">all</b> the necessary details!
                <div id="tail1" style="left:35px"></div>
                <div id="tail2" style="left:35px"></div>
              </div>
            </div>
          </div>
      <% end  %>
  <% elsif current_user.nil? || current_user.present? && request_feed_takers_item.user != current_user %>
      <% if request_feed_takers_item.has_all_details %>
          <div class="has_all_details" style="right:3px">
            <div class="bubbleInfo">
              <%= image_tag("has_all_details.png", class: "trigger") %>
              <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                This Giveaway has <b style="color:#279227">all</b> the necessary details!
                <div id="tail1" style="left:35px"></div>
                <div id="tail2" style="left:35px"></div>
              </div>
            </div>
          </div>
      <% end  %>
  <% elsif request_feed_takers_item.user == current_user %>
      <% if request_feed_takers_item.has_all_details %>
          <div class="has_all_details" style="right:3px;">
            <div class="bubbleInfo">
              <%= image_tag("has_all_details.png", class: "trigger") %>
              <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                Your Giveaway has <b style="color:#279227">all</b> the necessary details!
                <div id="tail1" style="left:35px"></div>
                <div id="tail2" style="left:35px"></div>
              </div>
            </div>
          </div>
      <% end  %>
  <% end %>
  <div class="feed_item_info">
    <div class="feed_title" onclick="location.href='<%=request_delivery_path(request_feed_takers_item)%>'">
      <b><%= link_to request_feed_takers_item.what, request_delivery_path(request_feed_takers_item)  %></b>
    </div>
    <div class="feed_request_data">
      <b>From</b> <%= request_feed_takers_item.from %><br>
      <b>Size</b> <%= request_feed_takers_item.size %><br>
      <b>Given By</b> <%= link_to request_feed_takers_item.user.name, request_feed_takers_item.user %><br>
        <% if request_feed_takers_item.attachment.present? %>
          <div class="feed_item_thumb" onclick="location.href='<%=request_delivery_path(request_feed_takers_item)%>'">
            <%= image_tag request_feed_takers_item.attachment_url(:thumb).to_s  %>
          </div>
        <% else  %>
          <div class="feed_item_map" onclick="location.href='<%=request_delivery_path(request_feed_takers_item)%>'">
            <img src="http://maps.google.com/maps/api/staticmap?size=250x180&maptype=roadmap&sensor=false&markers=color:green|label:A|<%= request_feed_takers_item.from %>&markers=color:red|label:B|<%= request_feed_takers_item.to %>"></img>
          </div>
        <% end  %>
    </div>
  </div>
</div>
