<div id="<%= request_feed_item.what %>" class="feed_item">
  <h4><%= request_feed_item.what %></h4>
  From: <%= request_feed_item.from %><br>
  To: <%= request_feed_item.to %><br>
  You can earn: <%= request_feed_item.cost %> NIS
</div>