<% if request_feed_item.status == "Open" || request_feed_item.status == "Pending Confirmation" %>
    <div class="feed_item" onclick="location.href='<%=request_delivery_path(request_feed_item)%>'">
      <% if current_user.nil? %>
          <% if request_feed_item.has_all_details %>
              <div class="has_all_details" style="right:3px">
                <div class="bubbleInfo">
                  <%= image_tag("has_all_details.png", class: "trigger") %>
                  <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                    This request post has <b style="color:#279227">all</b> the necessary details!
                    <div id="tail1" style="left:35px"></div>
                    <div id="tail2" style="left:35px"></div>
                  </div>
                </div>
              </div>
              </div>
          <% end  %>
      <% elsif (current_user.try(:admin?)) %>
          <div class="delete_post">
            <div class="bubbleInfo">
              <%=  link_to image_tag("delete_post.png"), request_feed_item, method: :delete, class: "trigger" %>
              <div class="popup" style="height:20px; width:195px; margin-top:57px;">
                <b style="color:#FF0523;">Delete</b> your delivery request.
                <div id="tail1" style="left:37px"></div>
                <div id="tail2" style="left:37px"></div>
              </div>
            </div>
          </div>
          <div class="edit_post">
            <div class="bubbleInfo">
              <%=  link_to image_tag("edit_post.png"), edit_request_delivery_path(request_feed_item), class: "trigger" %>
              <div class="popup" style="height:20px; width:180px; margin-top:57px;">
                <b style="color:#ff9054">Edit</b> your delivery request.
                <div id="tail1" style="left:35px"></div>
                <div id="tail2" style="left:35px"></div>
              </div>
            </div>
          </div>
          <% if request_feed_item.has_all_details %>
              <div class="has_all_details">
                <div class="bubbleInfo">
                  <%= image_tag("has_all_details.png", class: "trigger") %>
                  <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                    Your request post has <b style="color:#279227">all</b> the necessary details!
                    <div id="tail1" style="left:35px"></div>
                    <div id="tail2" style="left:35px"></div>
                  </div>
                </div>
              </div>
          <% end  %>
      <% else  %>
          <% if request_feed_item.has_all_details %>
              <div class="has_all_details" style="right:3px;">
                <div class="bubbleInfo">
                  <%= image_tag("has_all_details.png", class: "trigger") %>
                  <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                    This request post has <b style="color:#279227">all</b> the necessary details!
                    <div id="tail1" style="left:35px"></div>
                    <div id="tail2" style="left:35px"></div>
                  </div>
                </div>
              </div>
          <% end  %>
      <% end %>
      <div class="feed_item_info">
        <div class="feed_title" onclick="location.href='<%=request_delivery_path(request_feed_item)%>'">
          <b><%= link_to request_feed_item.what, request_delivery_path(request_feed_item)  %></b>
        </div>
        <div class="feed_item_money">
          <%= request_feed_item.cost %> <%= request_feed_item.currency %>
        </div>
        <div class="feed_request_data">
          <b>From</b> <%= request_feed_item.from %><br>
          <b>To</b> <%= request_feed_item.to %><br>
          <b>By</b> <%= link_to request_feed_item.user.name, request_feed_item.user %><br>
          <% if request_feed_item.user.sender_reviews.any? %>
              <% @user = request_feed_item.user %><%=render 'shared/sender_star_rating_small' %>
              (<%= request_feed_item.user.sender_reviews.count %>)
          <% else  %>
              Sender not rated yet
          <% end  %>
          <div class="feed_item_map" onclick="location.href='<%=request_delivery_path(request_feed_item)%>'">
            <img src="http://maps.google.com/maps/api/staticmap?size=250x180&maptype=roadmap&sensor=false&markers=color:red|label:A|<%= request_feed_item.from %>&markers=color:red|label:B|<%= request_feed_item.to %>"></img>
          </div>
        </div>
      </div>
      </div>
<% end  %>