<div class="new_delivery_request_class">
  <%= form_for(@request_delivery, :validate => true ) do |f| %>

      <fieldset>
        <legend>Origin</legend>
        <%= f.label :from, "Where do you want to deliver from?" %>
        <%= f.text_field :from %>
      </fieldset>
      <fieldset>
        <legend>Destination</legend>
        <%= f.label :to, "Where do you want your delivery to reach?" %>
        <%= f.text_field :to  %>
      </fieldset>
      <fieldset>
        <legend>Time of Delivery</legend>
        <%= f.label :when, "When would you like your delivery to ship?" %>
        <%= f.text_field :when  %>
      </fieldset>
      <fieldset>
        <legend>Additional Details</legend>
        <%= f.label :more_details, "Please provide some more details:" %>
        <%= f.text_field :more_details %>
        <div class="form_submit">
            <%= f.submit "Finish", class: "finish" %>
        </div>
      </fieldset>
  <% end  %>
</div>

