<div class="search_posts">
  <div class="search_title">
    <b>Delivery Suggestions</b>
  </div>
  <%= form_for @search, :url => suggestions_path, :html => {:method => :get} do |f| %>
      <div class="search_fields">
        <div class="myfield_search">
          <%= f.label :from_contains, "From:" %>
          <%= f.text_field :from_contains, :class => "address_field" %>
          <%= f.label :to_contains, "To:" %>
          <%= f.text_field :to_contains, :class => "address_field" %>
          <%= f.submit :type => :image, :src => "assets/Filter_Results.png", :id =>"search_button" %>
        </div>
      </div>
  <% end %>
</div>
<div class="add_your_own">
  <div class="transport_button_index"  onclick="location.href='/suggest'">
    <b>Add your own suggestion.</b>
  </div>
</div>
<div class="suggestposts">
  <% if @suggest_feed_items.any? %>
      <%= render partial: 'shared/suggest_feed_item', collection: @suggest_feed_items %>
  <% else  %>
      <h3>No delivery suggestions available at the moment!</h3>
  <% end  %>
</div>