<div class="feed_item">
  <% if current_user.nil? %>
      <% if suggest_feed_item.has_all_details %>
          <div class="has_all_details" style="right:3px">
            <div class="bubbleInfo">
              <%= image_tag("has_all_details.png", class: "trigger") %>
              <div class="popup" style="height:20px; width:305px; margin-top:57px;">
                This suggestion has <b style="color:#279227">all</b> the necessary details!
                <div id="tail1" style="left:35px"></div>
                <div id="tail2" style="left:35px"></div>
              </div>
            </div>
          </div>
          <% if suggest_feed_item.status == "Complete" %>
              <div class="index_status" style="right:33px; background-color: #7f7f7f;">
          <% elsif suggest_feed_item.status == "Confirmed" %>
              <div class="index_status" style="right:33px; background-color: #1d79e2;">
          <% else %>
              <div class="index_status" style="right:33px; background-color: #257b2a;">
          <% end  %>
      <% else  %>
          <% if suggest_feed_item.status == "Complete" %>
              <div class="index_status" style="background-color: #7f7f7f;">
          <% elsif suggest_feed_item.status == "Confirmed" %>
              <div class="index_status" style="background-color: #1d79e2;">
          <% else %>
              <div class="index_status" style="background-color: #257b2a;">
          <% end  %>
      <% end %>
      <div class="bubbleInfo">
        <div class="trigger">
          <% if suggest_feed_item.status == "Complete" %>
              <b><%= suggest_feed_item.status  %></b>
          <% elsif suggest_feed_item.status == "Confirmed" %>
              <b><%= suggest_feed_item.status  %></b>
          <% else %>
              <b>Open</b>
          <% end  %>
        </div>
        <% if suggest_feed_item.status == "Complete" %>
            <div class="popup" style="height:20px; width:325px; margin-top:53px;">
              This suggestion has been marked as <b style="color:#7f7f7f">Complete</b>!
        <% elsif suggest_feed_item.status == "Confirmed" %>
            <div class="popup" style="height:20px; width:340px; margin-top:53px;">
              Someone has been <b style="color:#1d79e2">Confirmed</b> for this suggestion.
        <% else %>
            <div class="popup" style="height:20px; width:240px; margin-top:53px;">
              This suggestion is <b style="color:#257b2a">Open</b> for takers!
        <% end  %>
        <div id="tail1" style="left:35px"></div>
        <div id="tail2" style="left:35px"></div>
        </div>
        </div>
        </div>
  <% elsif (current_user.try(:admin?)) %>
      <div class="delete_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("delete_post.png"), suggest_feed_item, method: :delete, class: "trigger" %>
          <div class="popup" style="height:20px; width:220px; margin-top:57px;">
            <b style="color:#FF0523;">Delete</b> your delivery suggestion.
            <div id="tail1" style="left:37px"></div>
            <div id="tail2" style="left:37px"></div>
          </div>
        </div>
      </div>
      <div class="edit_post">
        <div class="bubbleInfo">
          <%=  link_to image_tag("edit_post.png"), edit_suggest_delivery_path(suggest_feed_item), class: "trigger" %>
          <div class="popup" style="height:20px; width:200px; margin-top:57px;">
            <b style="color:#ff9054">Edit</b> your delivery suggestion.
            <div id="tail1" style="left:35px"></div>
            <div id="tail2" style="left:35px"></div>
          </div>
        </div>
      </div>
    <% if suggest_feed_item.has_all_details %>
        <div class="has_all_details">
          <div class="bubbleInfo">
            <%= image_tag("has_all_details.png", class: "trigger") %>
            <div class="popup" style="height:20px; width:305px; margin-top:57px;">
              Your suggestion has <b style="color:#279227">all</b> the necessary details!
              <div id="tail1" style="left:35px"></div>
              <div id="tail2" style="left:35px"></div>
            </div>
          </div>
        </div>
        <% if suggest_feed_item.status == "Complete" %>
            <div class="index_status" style="right:93px;background-color: #7f7f7f;">
        <% elsif suggest_feed_item.status == "Confirmed" %>
            <div class="index_status" style="right:93px;background-color: #1d79e2;">
        <% elsif suggest_feed_item.status == "Pending Confirmation" %>
            <div class="index_status" style="right:93px;background-color: #d67a31;">
        <% else %>
            <div class="index_status" style="right:93px;background-color: #257b2a;">
        <% end  %>
    <% else  %>
        <% if suggest_feed_item.status == "Complete" %>
            <div class="index_status" style="right:63px;background-color: #7f7f7f;">
        <% elsif suggest_feed_item.status == "Confirmed" %>
            <div class="index_status" style="right:63px;background-color: #1d79e2;">
        <% elsif suggest_feed_item.status == "Pending Confirmation" %>
            <div class="index_status" style="right:63px;background-color: #d67a31;">
        <% else %>
            <div class="index_status" style="right:63px;background-color: #257b2a;">
        <% end  %>
    <% end %>
      <div class="bubbleInfo">
        <% if suggest_feed_item.status == "Complete" %>
            <div class="trigger">
              <b><%= suggest_feed_item.status  %></b>
            </div>
            <div class="popup" style="height:20px; width:325px; margin-top:53px;">
              Your suggestion has been marked as <b style="color:#7f7f7f">Complete</b>!
        <% elsif suggest_feed_item.status == "Confirmed" %>
            <div class="trigger">
              <b><%= suggest_feed_item.status  %></b>
            </div>
            <div class="popup" style="height:20px; width:355px; margin-top:53px;">
              You have <b style="color:#1d79e2">Confirmed</b> someone for your suggestion!
        <% elsif suggest_feed_item.status == "Pending Confirmation" %>
            <div class="trigger">
              <b>Pending</b>
            </div>
            <div class="popup" style="height:20px; width:380px; margin-top:53px;">
              Your suggestion is <b style="color:#ff9054">Pending Confirmation</b> for someone!
        <% else %>
            <div class="trigger">
              <b><%= suggest_feed_item.status  %></b>
            </div>
            <div class="popup" style="height:20px; width:245px; margin-top:53px;">
              Your suggestion is <b style="color:#257b2a">Open</b> for takers!
        <% end  %>
        <div id="tail1" style="left:35px"></div>
        <div id="tail2" style="left:35px"></div>
        </div>
        </div>
        </div>
  <% else  %>
    <% if suggest_feed_item.has_all_details %>
        <div class="has_all_details" style="right:3px;">
          <div class="bubbleInfo">
            <%= image_tag("has_all_details.png", class: "trigger") %>
            <div class="popup" style="height:20px; width:305px; margin-top:57px;">
              This suggestion has <b style="color:#279227">all</b> the necessary details!
              <div id="tail1" style="left:35px"></div>
              <div id="tail2" style="left:35px"></div>
            </div>
          </div>
        </div>
        <% if suggest_feed_item.status == "Complete" %>
            <div class="index_status" style="right:33px; background-color: #7f7f7f;">
        <% elsif suggest_feed_item.status == "Confirmed" %>
            <div class="index_status" style="right:33px;background-color: #1d79e2;">
        <% elsif suggest_feed_item.status == "Pending Confirmation" && suggest_feed_item.accepted_suggest_not_confirmed.include?(current_user.id) %>
            <div class="index_status" style="right:33px;background-color: #d67a31;">
        <% else %>
            <div class="index_status" style="right:33px;background-color: #257b2a;">
        <% end  %>
    <% else  %>
        <% if suggest_feed_item.status == "Complete" %>
            <div class="index_status" style="background-color: #7f7f7f;">
        <% elsif suggest_feed_item.status == "Confirmed" %>
            <div class="index_status" style="background-color: #1d79e2;">
        <% elsif suggest_feed_item.status == "Pending Confirmation" && suggest_feed_item.accepted_suggest_not_confirmed.include?(current_user.id) %>
            <div class="index_status" style="background-color: #d67a31;">
        <% else %>
            <div class="index_status" style="background-color: #257b2a;">
        <% end  %>
    <% end %>
      <div class="bubbleInfo">
        <div class="trigger">
          <% if suggest_feed_item.status == "Complete" %>
              <b><%= suggest_feed_item.status  %></b>
          <% elsif suggest_feed_item.status == "Confirmed" %>
              <b><%= suggest_feed_item.status  %></b>
          <% elsif suggest_feed_item.status == "Pending Confirmation" && suggest_feed_item.accepted_suggest_not_confirmed.include?(current_user.id) %>
              <b>Pending</b>
          <% else %>
              <b>Open</b>
          <% end  %>
        </div>
        <% if suggest_feed_item.status == "Complete" %>
            <div class="popup" style="height:20px; width:330px; margin-top:53px;">
              This suggestion has been marked as <b style="color:#7f7f7f">Complete</b>!
        <% elsif suggest_feed_item.status == "Confirmed" %>
            <% if suggest_feed_item.accepted_suggest_confirmed.other_user_for_suggest.id == current_user.id %>
                <div class="popup" style="height:20px; width:265px; margin-top:53px;">
                  You are <b style="color:#1d79e2">Confirmed</b> for this suggestion!
            <% else  %>
                <div class="popup" style="height:20px; width:340px; margin-top:53px;">
                  Someone has been <b style="color:#1d79e2">Confirmed</b> for this suggestion.
            <% end  %>
        <% elsif suggest_feed_item.status == "Pending Confirmation" && suggest_feed_item.accepted_suggest_not_confirmed.include?(current_user.id) %>
            <div class="popup" style="height:20px; width:315px; margin-top:53px;">
              This suggestion is <b style="color:#ff9054">Pending Confirmation</b> for you!
        <% else %>
            <div class="popup" style="height:20px; width:235px; margin-top:53px;">
              This suggestion is <b style="color:#257b2a">Open</b> for takers!
        <% end  %>
        <div id="tail1" style="left:35px"></div>
        <div id="tail2" style="left:35px"></div>
        </div>
        </div>
        </div>
  <% end %>
  <div class="feed_item_info">
    <div class="feed_title" style="padding-left:10px" onclick="location.href='<%=suggest_delivery_path(suggest_feed_item)%>'">
      <b><%= suggest_feed_item.size + " sized items" %></b>
    </div>
    <div class="feed_cost_and_from_and_to_and_by" style="background-image: url('../assets/money_bag.png');background-color:#5f80ba;">
      <div class="feed_mini_title">
        <b>Cost</b>
      </div>
      <div class="feed_item_money">
        <%= suggest_feed_item.cost + " " + suggest_feed_item.currency  %>
      </div>
    </div>
    <div class="feed_cost_and_from_and_to_and_by" style="background-image: url('../assets/index_LocationA.png');">
      <div class="feed_mini_title">
        <b>From</b>
      </div>
      <div class="from_to_text">
        <%= suggest_feed_item.from %>
      </div>
    </div>
    <div class="feed_cost_and_from_and_to_and_by" style="background-image: url('../assets/index_LocationB.png');">
      <div class="feed_mini_title">
        <b>To</b>
      </div>
      <div class="from_to_text">
        <%= suggest_feed_item.to %>
      </div>
    </div>
    <div class="feed_cost_and_from_and_to_and_by" style="background-image: url('../assets/index_by.png');">
      <div class="feed_mini_title">
        <b>By</b>
      </div>
      <div class="by_whom"><%= link_to suggest_feed_item.user.name, suggest_feed_item.user  %></div>
      <div class="index_rating"><% @user = suggest_feed_item.user %><%=render 'shared/transporter_star_rating' %></div>
    </div>
  </div>
</div>