<div class="new_delivery_suggest_class">
  <%= form_for(@suggest_delivery, :validate => true ) do |f| %>
      <fieldset>
        <div class="single_step">
          <legend>Origin</legend>
          <%= f.label :from, "What's your starting point?" %>
          <%= f.text_field :from, :placeholder => "Type origin address...", :class => "address_field" %>
        </div>
      </fieldset>
      <fieldset>
        <div class="single_step">
          <legend>Destination</legend>
          <%= f.label :to, "Where are you getting to?" %>
          <%= f.text_field :to, :placeholder => "Type destination address...", :class => "address_field"   %>
        </div>
      </fieldset>
      <fieldset>
        <div class="single_step">
          <legend>Content of Delivery</legend>
          <%= f.label :size, "How big a package can you deliver?" %>
          <div class="radio_buttons">
            <div class="radio_button" style="text-align:left">
              <%= f.radio_button(:size, "Small") %>
              <%= f.label(:size_small, "Small") %>
            </div>
            <div class="radio_button" style="text-align:left">
              <%= f.radio_button(:size, "Medium") %>
              <%= f.label(:size_small, "Medium") %>
            </div>
            <div class="radio_button" style="text-align:left">
              <%= f.radio_button(:size, "Large") %>
              <%= f.label(:size_small, "Large") %>
            </div>
          </div>
          <%= f.label :more_details, "Please provide some more details:" %>
          <%= f.text_area :more_details, :placeholder => "Add any detail that might be important...", :rows => 2  %>
        </div>
      </fieldset>
      <fieldset>
        <div class="single_step">
          <legend>Time of Delivery</legend>
          <%= f.label :when, "When are taking your trip?" %>
          <%= f.text_field :when, :placeholder => "mm/dd/yyyy", :class => "datepicker" %>
        </div>
      </fieldset>
      <fieldset>
        <div class="single_step">
          <legend>Payment</legend>
          <%= f.label :cost, "How much will you charge for the delivery?" %>
          <%= f.text_field :cost, :placeholder => "Type an amount in NIS..."   %>
          <div class="form_submit">
            <%= f.submit "Finish", class: "finish" %>
          </div>
        </div>
      </fieldset>
  <% end  %>
</div>

