<div class="extra_info">
  <div class="extra_info_title" style="background-image: url('../assets/give_small.png');">
    <b>Given By</b>
  </div>
  <div class="extra_info_data">
    <div class="post_text_user">
      <b><%= link_to @request_delivery.user.name, @request_delivery.user %></b>
    </div>
    <div class="posted_by">
      <div class="four_icons">
        <div class="chat_gravatar" style="float:right; width:50px; text-align: center;padding-left:13px;">
          <% if facebook_authorization(@request_delivery.user)  %>
              <%= link_to facebook_profile_photo(@request_delivery.user,"chat"), @request_delivery.user %>
          <% else  %>
              <%=  link_to chat_gravatar_for(@request_delivery.user), @request_delivery.user  %>
          <% end  %>
        </div>
        <div class="verified_details">
          <div class="verified_item">
            <% if @request_delivery.user.email_confirmed %>
                <div class="bubbleInfo">
                  <%= image_tag("VerifiedEmail.png", :class => "trigger") %>
                  <div class="popup" style="text-align: left;">
                    User has <b style="color:#279227">verified</b> his/her Email Address.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% else %>
                <div class="bubbleInfo">
                  <%= image_tag("NonVerifiedEmail.png", :class => "trigger") %>
                  <div class="popup" style="text-align: left;">
                    User has <b style="color: #d67a31">not verified</b> his/her Email Address.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% end  %>
          </div>
          <div class="verified_item">
            <% if @phone.present? && @phone.verified %>
                <div class="bubbleInfo">
                  <%= image_tag("VerifiedPhone.png", :class => "trigger")%>
                  <div class="popup" style="text-align: left;">
                    User has <b style="color: #279227">verified</b> his/her Phone Number.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% else %>
                <div class="bubbleInfo">
                  <%= image_tag("NonVerifiedPhone.png", :class => "trigger")%>
                  <div class="popup" style="text-align: left;">
                    User has <b style="color: #d67a31">not verified</b> his/her Phone Number.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="verified_item">
            <% if @facebook_authentication.present? %>
                <div class="bubbleInfo">
                  <%= image_tag("VerifiedFB.png", :class => "trigger")%>
                  <div class="popup" style="text-align: left;">
                    User has <b style="color:#279227">verified</b> his/her Facebook Account.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% else %>
                <div class="bubbleInfo">
                  <%= image_tag("NonVerifiedFB.png", :class => "trigger")%>
                  <div class="popup" style="text-align: left;">
                    User has <b style="color: #d67a31">not verified</b> his/her Facebook Account.
                    <div id="tail1" style="left:47px;"></div>
                    <div id="tail2" style="left:47px;"></div>
                  </div>
                </div>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>