<% if @big_sender_receiver %>
    <div class="the_sender_and_receiver_inner" style="background-image: url('../assets/SendingPerson_small.png');height:150px;">
<% else %>
    <% if @request_delivery.sending_phone.present? %>
        <div class="the_sender_and_receiver_inner" style="background-image: url('../assets/SendingPerson_small.png');">
    <% else  %>
        <div class="the_sender_and_receiver_inner" style="background-color:#757575; background-image: url('../assets/SendingPerson_small.png');">
    <% end  %>
<% end  %>
<div class="inner_title">
  <b>Giving</b>
</div>
<div class="send_receive_text">
  <% if @big_sender_receiver %>
      <% if @taking_user == current_user || @request_delivery.user != current_user %>
          <b>We have </b><b style="color:#f2ff5e"><%= link_to @request_delivery.user.name, @request_delivery.user %></b><b> giving this item in </b><b style="color:#6fba33">Point A</b><b>!</b><br><br>
          <b>Call him/her at</b><b style="color:#f2ff5e"> <%= @request_delivery.user.phone %></b><b> and set a time for the pick up!</b>
      <% else %>
          <b>We have </b><b style="color:#f2ff5e">You</b><b> giving this item in </b><b style="color:#6fba33">Point A</b><b>!</b><br><br>
          <b style="color:#f2ff5e"><%= link_to @taking_user.name, @taking_user %></b><b> can call you at</b><br><b style="color:#f2ff5e">
  <%= @request_delivery.user.phone %></b><b>.</b>
      <% end %>
  <% else %>
      <% if @request_delivery.user == current_user %>
          <% if @after_delivery %>
              <b>We've had </b><b style="color:#f2ff5e">You</b><b> giving this item in </b><b style="color:#6fba33">Point A</b><b>!</b>
          <% else %>
              <% if @request_delivery.sending_phone.present? %>
                  <b>We have </b><b style="color:#f2ff5e">You</b><b> giving this item in </b><b style="color:#6fba33">Point A</b><b>!</b>
              <% else  %>
                  <b style="color:#f2ff5e">You</b><b> still haven't verified your </b><b style="color:#f2ff5e">Phone Number</b><b>.</b>
              <% end  %>
          <% end  %>
      <% else %>
          <% if @after_delivery %>
              <b>We've had </b><b style="color:#f2ff5e"><%= link_to @request_delivery.user.name, @request_delivery.user %></b><b> giving this item in </b><b style="color:#6fba33">Point A</b><b>!</b>
          <% else %>
              <% if @request_delivery.sending_phone.present? %>
                  <b>We have </b><b style="color:#f2ff5e"><%= link_to @request_delivery.user.name, @request_delivery.user %></b><b> giving this item in </b><b style="color:#6fba33">Point A</b><b>!</b>
              <% else  %>
                  <b style="color:#f2ff5e"><%= link_to @request_delivery.user.name, @request_delivery.user %></b><b> still hasn't verified their </b><b style="color:#f2ff5e">Phone Number</b><b>.</b>
              <% end  %>
          <% end  %>
      <% end %>
  <% end  %>
</div>
</div>
