<div class="new_delivery_suggest_class">
  <%= form_for(@suggest_delivery, :remote => true ) do |f| %>
      <fieldset>
        <div class="single_step">
          <legend  style="background-image: url('../assets/car.png');"><b>Can you transport stuff?</b></legend>
          <div class="new_size">
            <%= f.label :size, "How big can you deliver?" %>
            <% if session[:suggest_delivery_size].present? %>
                <%= f.select :size, options_for_select(%w[Small Medium Large], :selected => session[:suggest_delivery_size]) %>
            <% else  %>
                <%= f.select :size, options_for_select(%w[Small Medium Large]), :include_blank => "Pick Size..." %>
            <% end  %>
          </div>
          <%= f.label :from, "What's your starting point?" %>
          <% if session[:suggest_delivery_from].present? %>
              <%= f.text_field :from, :placeholder => "Type origin address...", :class => "address_field", :value => session[:suggest_delivery_from] %>
          <% else  %>
              <%= f.text_field :from, :placeholder => "Type origin address...", :class => "address_field" %>
          <% end  %>
          <%= f.label :to, "Where are you getting to?" %>
          <% if session[:suggest_delivery_to].present? %>
              <%= f.text_field :to, :placeholder => "Type destination address...", :class => "address_field", :value => session[:suggest_delivery_to]  %>
          <% else  %>
              <%= f.text_field :to, :placeholder => "Type destination address...", :class => "address_field"   %>
          <% end %>
          <div class="new_money">
            <%= f.label :cost, "How much will you charge for the delivery?" %>
            <% if session[:suggest_delivery_cost].present? %>
                <%= f.text_field :cost, :placeholder => "Type an amount...", :value => session[:suggest_delivery_cost] %>
            <% else  %>
                <%= f.text_field :cost, :placeholder => "Type an amount..." %>
            <% end %>
            <% if session[:suggest_delivery_currency].present? %>
                <%= f.select :currency, options_for_select(%w[NIS USD Euro], :selected =>session[:suggest_delivery_currency]) %>
            <% else  %>
                <%= f.select :currency, options_for_select(%w[NIS USD Euro], :selected =>"NIS") %>
            <% end  %>
          </div>
          <div class="form_submit">
            <%= f.submit "Finish", :type => :image, :src => "assets/Post.png", :class => "finish" %>
          </div>
        </div>
      </fieldset>
  <% end  %>
</div>