<div class="show_suggest_delivery">
  <div id="current-delivery-map"></div>
  <h3><%= @suggest_delivery.from %> to <%= @suggest_delivery.to %></h3>
  <h4>Suggested by:<%= @suggest_delivery.user.name %></h4><br>
  Delivery Size: <%= @suggest_delivery.size %>   <br>
  You can earn: <%= @suggest_delivery.cost %> NIS <br>
  The details: <%= @suggest_delivery.more_details %>
</div>