<div class="show_delivery">
  <div class="right_side">
    <% if @suggest_delivery.user != current_user %>
        <% if @suggest_delivery.status == "Complete" %>
            <div class="challenge_complete">
              <b style="font-size:33px">Complete</b>
            </div>
        <% elsif @suggest_delivery.status == "Confirmed"  %>
            <div class="challenge_confirmed">
              <b style="font-size:33px">Confirmed</b>
            </div>
        <% elsif @suggest_delivery.status == "Pending Confirmation" && @accepted_suggest.present?  %>
            <div class="challenge_cancelled">
              <b style="font-size:33px"><%= link_to "Cancel Acceptance", accept_suggest_delivery_path(@suggest_delivery, type: "cancel"), method: :put %></b>
            </div>
        <% else %>
            <div class="challenge_accepted" style="font-size:2.4em">
              <b><%= link_to "Accept Suggestion",   accept_suggest_delivery_path(@suggest_delivery, type: "accept"), method: :put %></b>
            </div>
        <% end %>
    <% end  %>
    <div id="current-delivery-map"></div>
    <div class="extra_info">
      <div class="extra_info_title">
        <b>Extra Info</b>
      </div>
      <div class="extra_info_data">
        <div class="the_deadline">
          <% if @suggest_delivery.when.blank? %>
              <% if @suggest_delivery.user == current_user %>
                  <%= render 'shared/missing' %>
                  <b style="color: #d67a31">Delivery Available On</b><br>Not set yet.
              <% else  %>
                  <b>Delivery Available On</b><br>Not set yet.
              <% end  %>
          <% else %>
              Delivery Available On<br><b><%= @suggest_delivery.when.strftime("%B #{@suggest_delivery.when.day.ordinalize}, %Y")%></b>
          <% end %>
        </div>
        <% if @suggest_delivery.size == "Large" %>
            <div class="the_size"  style="background-image: url('../assets/Large.png');">
              <b>Can deliver items of size</b><br><%= @suggest_delivery.size %>
        <% elsif @suggest_delivery.size == "Medium" %>
            <div class="the_size"  style="background-image: url('../assets/Medium.png');">
              <b>Can deliver items of size</b><br><%= @suggest_delivery.size %>
        <% elsif @suggest_delivery.size == "Small" %>
            <div class="the_size"  style="background-image: url('../assets/Small.png');">
              <b>Can deliver items of size</b><br><%= @suggest_delivery.size %>
        <% elsif @suggest_delivery.size.blank?  %>
            <div class="the_size">
              <% if @suggest_delivery.user == current_user %>
                  <%= render 'shared/missing' %>
              <% end  %>
              <b style="color: #d67a31">Can deliver items of size</b><br>Not set yet.
        <% end %>
        </div>
        <% if @suggest_delivery.status == "Complete" %>
            <div class="task_status" style="background-image: url('../assets/status_Complete.png');">
              <b>Suggestion Status</b><br><b style="color: #7f7f7f;"><%= @suggest_delivery.status %></b>
            </div>
        <% elsif @suggest_delivery.status == "Confirmed" %>
            <div class="task_status" style="background-image: url('../assets/status_Confirmed.png');">
              <b>Suggestion Status</b><br><b style="color: #0000fa;"><%= @suggest_delivery.status %></b>
            </div>
        <% elsif @suggest_delivery.status == "Pending Confirmation"  && @accepted_suggest.present?%>
            <div class="task_status" style="background-image: url('../assets/status_Pending.png');">
              <b>Suggestion Status</b><br><b style="color: #d67a31;"><%= @suggest_delivery.status %></b>
            </div>
        <% else %>
            <div class="task_status" style="background-image: url('../assets/status_Open.png');">
              <b>Suggestion Status</b><br><b style="color: #20d62c;">Open</b>
            </div>
        <% end %>
        </div>
        </div>
      </div>
      <div class="show_data">
        <div class="show_title" style="font-size: 1.9em;background-image: url('../assets/car.png');">
          <% if (current_user?(@suggest_delivery.user)) || (current_user.try(:admin?)) %>
              <div class="delete_post_big">
                <div class="bubbleInfo">
                  <%=  link_to image_tag("delete_post_big.png"), @suggest_delivery, method: :delete, class: "trigger" %>
                  <div class="popup" style="height:20px; width:215px; margin-top:57px;">
                    <b style="color:#FF0523">Delete</b> your delivery suggestion.
                    <div id="tail1" style="left:37px"></div>
                    <div id="tail2" style="left:37px"></div>
                  </div>
                </div>
              </div>
              <div class="edit_post_big">
                <div class="bubbleInfo">
                  <%=  link_to image_tag("edit_post_big.png"), edit_suggest_delivery_path(@suggest_delivery), class: "trigger" %>
                  <div class="popup" style="height:20px; width:195px; margin-top:57px;">
                    <b style="color:#ff9054">Edit</b> your delivery suggestion.
                    <div id="tail1" style="left:37px"></div>
                    <div id="tail2" style="left:37px"></div>
                  </div>
                </div>
              </div>
              <% if @suggest_delivery.has_all_details %>
                  <div class="has_all_details_big">
                    <div class="bubbleInfo">
                      <%= image_tag("has_all_details_big.png", class: "trigger") %>
                      <div class="popup" style="height:20px; width:315px; margin-top:57px;">
                        Your suggestion has <b style="color:#279227">all</b> the necessary details!
                        <div id="tail1" style="left:37px"></div>
                        <div id="tail2" style="left:37px"></div>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% else  %>
              <% if @suggest_delivery.has_all_details %>
                  <div class="has_all_details_big" style="right:3px;">
                    <div class="bubbleInfo">
                      <%= image_tag("has_all_details_big.png", class: "trigger") %>
                      <div class="popup" style="height:20px; width:305px; margin-top:57px;">
                        This suggestion has <b style="color:#279227">all</b> the necessary details!
                        <div id="tail1" style="left:37px"></div>
                        <div id="tail2" style="left:37px"></div>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>
          <b style="padding-left: 65px;"><%= @suggest_delivery.size %> sized items</b>
        </div>
        <div class="the_deadline_and_money">
          <% if @suggest_delivery.currency == "ILS" %>
              <div class="the_money"  style="background-image: url('../assets/nis.png');">
          <% elsif @suggest_delivery.currency == "EUR" %>
              <div class="the_money"  style="background-image: url('../assets/euro.png');">
          <% elsif @suggest_delivery.currency == "USD" %>
              <div class="the_money"  style="background-image: url('../assets/usd.png');">
          <% end %>
          Delivery Cost<br><b><%= @suggest_delivery.cost %> <%= @suggest_delivery.currency %></b>
          </div>
          </div>
          <div class="the_from_and_to">
            <div class="the_from">
              Delivery Origin<br><b><%= @suggest_delivery.from %><br></b>
            </div>
            <div class="the_to">
              Delivery Destination<br><b><%= @suggest_delivery.to %><br></b>
            </div>
          </div>
          <div class="the_size_and_more_info">
            <div class="posted_by">
              <%=  link_to gravatar_for(@suggest_delivery.user), @suggest_delivery.user  %>
              Posted By <b><%= link_to @suggest_delivery.user.name, @suggest_delivery.user  %></b>
              <div class="verified_details">
                <div class="verified_item">
                  <% if @suggest_delivery.user.email_confirmed %>
                      <div class="bubbleInfo">
                        <%= image_tag("VerifiedEmail.png", :class => "trigger") %>
                        <div class="popup">
                          User has <b style="color:#279227">verified</b> his/her Email Address.
                          <div id="tail1" style="left:47px;"></div>
                          <div id="tail2" style="left:47px;"></div>
                        </div>
                  <% else %>
                      <div class="bubbleInfo">
                        <%= image_tag("NonVerifiedEmail.png", :class => "trigger") %>
                        <div class="popup">
                          User has <b style="color: #d67a31">not verified</b> his/her Email Address.
                          <div id="tail1" style="left:47px;"></div>
                          <div id="tail2" style="left:47px;"></div>
                        </div>
                  <% end  %>
                  </div>
                  </div>
                  <div class="verified_item">
                    <div class="bubbleInfo">
                      <%= image_tag("NonVerifiedPhone.png", :class => "trigger")%>
                      <div class="popup">
                        User has <b style="color: #d67a31">not verified</b> his/her Phone Number.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="verified_item">
                    <div class="bubbleInfo">
                      <%= image_tag("NonVerifiedFB.png", :class => "trigger")%>
                      <div class="popup">
                        User has <b style="color: #d67a31">not verified</b> his/her Facebook Account.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="verified_item">
                    <div class="bubbleInfo">
                      <%= image_tag("NonVerifiedPhoto.png", :class => "trigger")%>
                      <div class="popup">
                        User has <b style="color: #d67a31">not uploaded</b> a Profile Picture.
                        <div id="tail1" style="left:47px;"></div>
                        <div id="tail2" style="left:47px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="show_data" style="margin-top: 15px;">
            <div class="show_title" style="background-image: url('../assets/contact.png');font-size: 2.6em;height:35px;">
              <% if @suggest_delivery.more_details.blank? %>
                  <% if @suggest_delivery.user == current_user %>
                      <%= render 'shared/missing' %>
                  <% end  %>
              <% end  %>
              <b style="padding-left: 70px;">Ask More Details</b>
            </div>
            <div class="show_comments">
              <%= render 'comments/comments' %>
            </div>
          </div>
        </div>