<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width:850px">
      <%= link_to "The Carry Project", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right" id="header_items">
          <% if signed_in?  %>
              <li><%= link_to "Find Transporters", suggestions_path  %></li>
              <li><%= link_to "Browse Senders", requests_path  %></li>
              <li><%= link_to "Messages", conversations_path %></li>
              <li><%= link_to "Activity", activity_path %></li>
              <li><%= link_to current_user.name, current_user  %></li>
          <% else  %>
              <li><%= link_to "Find Transporters", suggestions_path  %></li>
              <li><%= link_to "Browse Senders", requests_path  %></li>
              <li><%= link_to "How it works", '#' %></li>
              <li><%= link_to "Sign in", signin_path %></li>
              <li><%= link_to "Register", signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>