<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "maps_and_date" %>
  <%= javascript_include_tag "div_fade" %>
  <%= javascript_include_tag "flash_fade" %>
  <%= javascript_include_tag "popup" %>
  <%= javascript_include_tag "bootstrap-datepicker" %>
  <%= render 'shared/wizards' %>
  <%= render 'shared/maps' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div class="wrapper">
<%= render 'layouts/header' %>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" id="flash_message">
        <%= value %>
        <div class="close_flash">
          <%= image_tag("Close.png") %>
        </div>
      </div>
  <% end %>
  <%= yield %>
  <div class="push"></div>
  </div>
</div>
<div class="footer">
<%= render 'layouts/footer' %>
</div>
</body>
</html>