<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta property="og:url" content= "https://www.sendd.me">
  <meta property="og:title" content= "sendd.me">
  <meta property="og:description" content= "Everyone deserves a second hand chance.">
  <meta property="og:image" content= "https://www.sendd.me/assets/ForFB-059d53c08b275cbc2e2735200318c25a.png">
  <%= render :partial => "layouts/ga" if Rails.env.production? %>
</head>
<%= render 'layouts/background' %>
<% if  controller.controller_name == 'static_pages' && controller.action_name == 'home' %>
    <div class="wrapper" style="margin-bottom:-6em;">
<% else  %>
    <div class="wrapper">
<% end  %>
<%= render 'layouts/header' %>
<% if  controller.controller_name == 'static_pages' && controller.action_name == 'home' %>
    <div class="top_container" style="width:100%;">
<% else  %>
    <div class="top_container" style="width:950px">
<% end  %>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" id="flash_message">
        <%= value %>
        <div class="close_flash">
          <%= image_tag("delete_post.png") %>
        </div>
      </div>
  <% end %>
  <%= yield %>
  <div class="push"></div>
  </div>
</div>
<div class="footer">
<%= render 'layouts/footer' %>
</div>
  <%= render 'modals/modal' %>
</body>
</html>