<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= include_gon %>
  <%= stylesheet_link_tag  "application", media: "all" %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag "bootstrap-modal-bs3patch" %>
  <%= stylesheet_link_tag "bootstrap-modal" %>
  <%= stylesheet_link_tag "modal" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "maps_and_date" %>
  <%= javascript_include_tag "verify_phone" %>
  <%= javascript_include_tag "no_enter" %>
  <%= javascript_include_tag "div_fade" %>
  <%= javascript_include_tag "flash_fade" %>
  <%= javascript_include_tag "modal" %>
  <%= javascript_include_tag "smoothscroll" %>
  <%= javascript_include_tag "popup" %>
  <%= javascript_include_tag "bootstrap-modal" %>
  <%= javascript_include_tag "bootstrap-modalmanager" %>
  <meta name="robots" content="NOODP"/>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <%= render 'shared/wizards' %>
  <%= render 'shared/maps' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta property="og:url" content= "https://www.sendd.me">
  <meta property="og:title" content= "sendd.me">
  <meta property="og:description" content= "Everyone deserves a second hand chance.">
  <meta property="og:image" content= "https://www.sendd.me/assets/ForFB-059d53c08b275cbc2e2735200318c25a.png">
  <%= render :partial => "layouts/ga" if Rails.env.production? %>
</head>
<%= render 'layouts/background' %>
<% if  controller.controller_name == 'static_pages' && controller.action_name == 'home' %>
    <div class="wrapper" style="margin-bottom:-6em;">
<% else  %>
    <div class="wrapper" style="background-image: url('../assets/back6.jpg');background-color: #abbacf;">
<% end  %>
<%= render 'layouts/header' %>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" id="flash_message">
      <%= value %>
      <div class="close_flash">
        <%= image_tag("delete_post.png") %>
      </div>
    </div>
<% end %>
<%= yield %>
<div class="push"></div>
</div>
</div>
<div class="footer">
  <%= render 'layouts/footer' %>
</div>
<%= render 'modals/modal' %>
<%= render 'modals/give_away' %>
<%= render 'modals/signin' %>
<%= render 'modals/signup' %>
<%= render 'modals/phone_add' %>
<%= render 'modals/phone_verify' %>
</body>
</html>
