<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag  "application", media: "all" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "maps_and_date" %>
  <%= javascript_include_tag "no_enter" %>
  <%= javascript_include_tag "div_fade" %>
  <%= javascript_include_tag "flash_fade" %>
  <%= javascript_include_tag "modal" %>
  <%= javascript_include_tag "smoothscroll" %>
  <%= javascript_include_tag "popup" %>
  <%= javascript_include_tag "bootstrap-datepicker" %>
  <%= render 'shared/wizards' %>
  <%= render 'shared/maps' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta property="og:url" content= "https://www.sendd.me">
  <meta property="og:title" content= "sendd.me">
  <meta property="og:description" content= "Everyone deserves a second hand chance.">
  <meta property="og:image" content= "https://www.sendd.me/assets/ForFB-059d53c08b275cbc2e2735200318c25a.png">
  <%= render :partial => "layouts/ga" if Rails.env.production? %>
</head>
<%= render 'layouts/background' %>
<% if  controller.controller_name == 'static_pages' && controller.action_name == 'home' %>
    <div class="wrapper" style="margin-bottom:-6em;">
<% else  %>
    <div class="wrapper" style="background-image: url('../assets/back6.jpg');">
<% end  %>
<%= render 'layouts/header' %>
<% if  controller.controller_name == 'static_pages' && controller.action_name == 'home' %>
    <div class="top_container" style="width:100%;">
<% else  %>
    <div class="top_container" style="width:950px">
<% end  %>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" id="flash_message">
        <%= value %>
        <div class="close_flash">
          <%= image_tag("delete_post.png") %>
        </div>
      </div>
  <% end %>
  <%= yield %>
  <div class="push"></div>
  </div>
</div>
  <% if  !(controller.controller_name == 'static_pages' && controller.action_name == 'home') %>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  <% end  %>
  <%= render 'modals/modal' %>
  <%= render 'modals/signin' %>
  <%= render 'modals/signup' %>
  <%= render 'modals/phone_verify' %>
</body>
</html>