<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "datepicker2" %>
  <%= javascript_include_tag "no_enter" %>
  <%= javascript_include_tag "please_wait" %>
  <%= javascript_include_tag "modal" %>
  <%= render 'shared/wizards' %>
</head>
<body>
<div class="wrapper">
  <div class="top_container" style="width:500px;">
    <%= yield %>
  </div>
</div>
</body>
</html>